{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% translate "Voucher Validation" %} ({{ state_name }}){% endblock %}
{% block javascript %}
    <script type="text/javascript">
        let language = getTableLanguage("{{ LANGUAGE_CODE }}");
        $(document).ready(function() {
            console.log("{{ voucher_state }}");
            console.log(parseInt("{{ voucher_state }}"));
            let voucher_state = "{{ voucher_state }}";
            let data = {};
            if (voucher_state !== "None")
                data.voucher_state = parseInt("{{ voucher_state }}");
            let values = [];
            for (let i=0; i < 10; i++){
                let selected = '';
                if (i === 9) {
                    if (voucher_state === -1)
                        selected = 'selected="selected"';
                    values.push(`value="-1" ${selected}`);
                }else{
                    if (i === voucher_state)
                        selected = 'selected="selected"';
                    values.push(`value="${i}" ${selected}`);
                }
            }
            $('#VouchersTable').DataTable({
                serverSide: true,
                processing: true,
                language: language,
                order: [[5, 'asc'], [4, 'asc']],
                ajax: {
                    url: '{% url "vouchers_table" %}',
                    type: 'GET',
                    data: data,
                    dataSrc: 'data',
                },
                columnDefs: [
                    {
                        targets: 0,
                        data: 'occurrence_id',
                        orderable: false,
                        render: (data) => {
                                let values = [];
                                for (let i=0; i < 7; i++){
                                    let selected = '';
                                    if (i === data.voucher_state)
                                        selected = 'selected="selected"';
                                    values.push(`value="${i}" ${selected}`);
                                }
                                const noState = "{% translate 'No State' context 'spaced' %}";
                                const found = "{% translate 'Found' context 'spaced' %}";
                                const notFound = "{% translate 'Not Found' context 'spaced' %}";
                                const borrowed = "{% translate 'Borrowed' context 'spaced' %}";
                                const lost = "{% translate 'Lost' context 'spaced' %}";
                                const inCuratorship = "{% translate 'In Curatorship' context 'spaced' %}";
                                const digitalized = "{% translate 'Digitalized' context 'spaced' %}";
                                if (data.voucher_state === 7)
                                    return `<div class="${getStateClass(data.voucher_state)} form-control form-control-sm" style="width: 150px;">${digitalized}</div>`;
                                else
                                    return `
                                    <select id="voucherClassFound${data.id}" class="${getStateClass(data.voucher_state)} custom-select custom-select-sm form-control form-control-sm" onchange="setState(${data.id}, this.value);" style="width: 150px;">
                                        <option ${values[0]}>${noState}</option>
                                        <option ${values[1]}>${found}</option>
                                        <option ${values[2]}>${notFound}</option>
                                        <option ${values[3]}>${borrowed}</option>
                                        <option ${values[4]}>${lost}</option>
                                        <option ${values[6]}>${inCuratorship}</option>
                                    </select>
                                    `;
                            },
                    },
                    {
                        targets: 1,
                        data: 'priority_voucher.created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date, "{{ LANGUAGE_CODE }}");
                            } else if (type === 'sort')
                                return date.toISOString();
                            else
                                return date;
                        }
                    },
                    {
                        targets: 2,
                        data: 'priority_voucher.herbarium'
                    },
                    {
                        targets: 3,
                        data: 'occurrence_id.code'
                    },
                    {
                        targets: 4,
                        data: 'catalog_number'
                    },
                    {
                        targets: 5,
                        data: 'species'
                    },
                    {
                        targets: 6,
                        data: 'recorded_by',
                        render: (data) => {
                            if (isNaN(data)) return ""; else return data;
                        }
                    },
                    {
                        targets: 7,
                        data: 'record_number',
                        render: (data) => {
                            if (isNaN(data)) return ""; else return data;
                        }
                    },
                    {
                        targets: 8,
                        data: 'locality'
                    },
                    {
                        targets: 9,
                        data: 'id',
                        orderable: false,
                        render: (data) => {
                            const url = "{% url 'update_voucher' voucher_id=0 %}".replace(
                                "0", data
                            );
                            const editMsg = "{% translate 'Edit' %}"
                            return `
                            <div width="10%">
                                <a href="${url}" style="white-space: nowrap;">
                                    <i class="fas fa-fw fa-edit text-primary"></i>
                                    ${editMsg}
                                </a>
                            </div>
                            `;
                        }
                    },
                ]
            });
            const thisUrl = "{% url 'control_vouchers' %}";
            const filterState = "{% translate 'Filter State' %}";
            const all = "{% translate 'All' %}";
            const found = "{% translate 'Found' %}";
            const noState = "{% translate 'No State' %}";
            const notFound = "{% translate 'Not Found' %}";
            const borrowed = "{% translate 'Borrowed' %}";
            const lost = "{% translate 'Lost' %}";
            const foundAndBorrowed = "{% translate 'Found And Borrowed' %}";
            const inCuratorship = "{% translate 'In Curatorship' %}";
            const digitalized = "{% translate 'Digitalized' %}";
            $('#VouchersTable_length').append(`
            <label class="p-3">
                ${filterState}
                <form action="${thisUrl}" style="display: inline-block;">
                    <select id="voucher_state" name="voucher_state" class="custom-select custom-select-sm form-control form-control-sm" onchange="this.form.submit()">
                        <option ${values[9]}>${all}</option>
                        <option ${values[1]}>${found}</option>
                        <option ${values[0]}>${noState}</option>
                        <option ${values[2]}>${notFound}</option>
                        <option ${values[3]}>${borrowed}</option>
                        <option ${values[4]}>${lost}</option>
                        <option ${values[5]}>${foundAndBorrowed}</option>
                        <option ${values[6]}>${inCuratorship}</option>
                        <option ${values[7]}>${digitalized}</option>
                    </select>
                </form>
            </label>
            `);
        });

        function setState(biotadaCode, voucherState) {
            console.debug(biotadaCode, voucherState);
            $("#overlay").fadeIn(300);
            $.ajax({
                url: '{% url "set_state" %}',
                type: 'POST',
                data: {
                    biodata_code: biotadaCode,
                    voucher_state: voucherState,
                },
                success: function (response) {
                    if (response.result === 'OK'){
                        document.getElementById(
                            `voucherClassFound${biotadaCode}`
                        ).className = `${getStateClass(parseInt(voucherState))} custom-select custom-select-sm form-control form-control-sm`;
                    } else {
                        console.error(response.result);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            }).always(function(){
                $("#overlay").fadeOut(300);
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{% translate "Voucher Digitalization" %}</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% translate "Voucher table" %}
        </div>
        <div class="card-body">
            <div class="table-responsive" id="vouchers-content">
                <table class="table table-bordered" id="VouchersTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% translate "State" %}</th>
                        <th>{% translate "Processing date" %}</th>
                        <th>{% translate "Herbarium" %}</th>
                        <th>{% translate "Biodata ID" %}</th>
                        <th>{% translate "Herbarium ID" %}</th>
                        <th>{% translate "Species Name" %}</th>
                        <th>{% translate "Collected by" %}</th>
                        <th>{% translate "Collection Number" %}</th>
                        <th>{% translate "Locality" %}</th>
                        <th>{% translate "Action" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
