{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            const voucher_state = parseInt("{{ voucher_state }}");
            let values = [];
            for (let i=0; i < 10; i++){
                let selected = '';
                if (i === 9) {
                    if (voucher_state === -1)
                        selected = 'selected="selected"';
                    values.push(`value="-1" ${selected}`);
                }else{
                    if (i === voucher_state)
                        selected = 'selected="selected"';
                    values.push(`value="${i}" ${selected}`);
                }
            }
            $('#VouchersTable').DataTable({
                serverSide: true,
                processing: true,
                language: languageTable.spanish,
                order: [[5, 'asc'], [4, 'asc']],
                ajax: {
                    url: '{% url "vouchers_table" voucher_state=voucher_state %}',
                    type: 'GET',
                    dataSrc: 'data',
                },
                columnDefs: [
                    {
                        targets: 0,
                        data: 'occurrence_id',
                        orderable: false,
                        render: (data) => {
                                let values = [];
                                for (let i=0; i < 7; i++){
                                    let selected = '';
                                    if (i === data.voucher_state)
                                        selected = 'selected="selected"';
                                    values.push(`value="${i}" ${selected}`);
                                }
                                return `
                                <select id="voucherClassFound${data.id}" class="${getStateClass(data.voucher_state)} custom-select custom-select-sm form-control form-control-sm" onchange="setState(${data.id}, this.value);" style="width: 150px;">
                                    <option ${values[0]}>&nbsp;Sin Estado&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                    <option ${values[1]}>&nbsp;Encontrado&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                    <option ${values[2]}>&nbsp;No Encontrado&nbsp;</option>
                                    <option ${values[3]}>&nbsp;En Préstamo&nbsp;&nbsp;&nbsp;</option>
                                    <option ${values[6]}>&nbsp;En curatoria&nbsp;&nbsp;</option>
                                </select>
                                `;
                            },
                    },
                    {
                        targets: 1,
                        data: 'priority_voucher.created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date)
                            } else if (type === 'sort')
                                return date.toISOString();
                            else
                                return date;
                        }
                    },
                    {
                        targets: 2,
                        data: 'priority_voucher.herbarium'
                    },
                    {
                        targets: 3,
                        data: 'occurrence_id.code'
                    },
                    {
                        targets: 4,
                        data: 'catalog_number'
                    },
                    {
                        targets: 5,
                        data: 'species'
                    },
                    {
                        targets: 6,
                        data: 'recorded_by',
                        render: (data) => {
                            if (isNaN(data)) return ""; else return data;
                        }
                    },
                    {
                        targets: 7,
                        data: 'record_number',
                        render: (data) => {
                            if (isNaN(data)) return ""; else return data;
                        }
                    },
                    {
                        targets: 8,
                        data: 'locality'
                    },
                    {
                        targets: 9,
                        data: 'id',
                        orderable: false,
                        render: (data) => {
                            const url = "{% url 'update_voucher' voucher_id=0 %}".replace(
                                "0", data
                            );
                            return `
                            <div width="10%">
                                <a href="${url}" style="white-space: nowrap;">
                                    <i class="fas fa-fw fa-edit text-primary"></i>
                                    Editar
                                </a>
                            </div>
                            `;
                        }
                    },
                ]
            });
            const thisUrl = "{% url 'control_vouchers' %}";
            $('#VouchersTable_length').append(`
            <label class="p-3">Filtrar Estado
                <form action="${thisUrl}" style="display: inline-block;">
                    <select id="voucher_state" name="voucher_state" class="custom-select custom-select-sm form-control form-control-sm" onchange="this.form.submit()">
                        <option ${values[9]}>Todos</option>
                        <option ${values[1]}>Encontrado</option>
                        <option ${values[0]}>Sin Estado</option>
                        <option ${values[2]}>No Encontrado</option>
                        <option ${values[3]}>En Préstamo</option>
                        <option ${values[4]}>Extraviado</option>
                        <option ${values[5]}>En Préstado Encontrado</option>
                        <option ${values[6]}>En curatoria</option>
                        <option ${values[7]}>Digitalizado</option>
                    </select>
                </form>
            </label>
            `);
        });

        function setState(biotadaCode, voucherState) {
            console.debug(biotadaCode, voucherState);
            $("#overlay").fadeIn(300);
            $.ajax({
                url: '{% url "set_state" %}',
                type: 'POST',
                data: {
                    biodata_code: biotadaCode,
                    voucher_state: voucherState,
                },
                success: function (response) {
                    if (response.result === 'OK'){
                        document.getElementById(
                            `voucherClassFound${biotadaCode}`
                        ).className = `${getStateClass(parseInt(voucherState))} custom-select custom-select-sm form-control form-control-sm`;
                    } else {
                        console.error(response.result);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            }).always(function(){
                $("#overlay").fadeOut(300);
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>Digitalización de Vouchers</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Tabla de Vouchers</div>
        <div class="card-body">
            <div class="table-responsive" id="vouchers-content">
                <table class="table table-bordered" id="VouchersTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Estado</th>
                        <th>Fecha Proceso</th>
                        <th>Herbario</th>
                        <th>ID Biodata</th>
                        <th>ID Herbario</th>
                        <th>Nombre Especie</th>
                        <th>Colectado por</th>
                        <th>Numero de Colecta</th>
                        <th>Ubicación</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
