{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load roles %}
{% block javascript %}
    <script type="text/javascript">
        const csrfToken = "{{ csrf_token }}";
        document.querySelector("#id_licence").addEventListener("change", function() {
            const selectedValue = this.value;
            if (selectedValue === "") {
                this.value = 1;
                window.location.href = "{% url 'new_licence' %}";
            }
        });

        $("#id_image").change(function() {
            const formData = new FormData();
            formData.append('image', this.files[0]);
            const loadingDOM = document.getElementById("loading");
            loadingDOM.innerHTML = `
            <div class="progress" role="progressbar" aria-label="progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
            </div>
            `;
            $.ajax({
                url: "{% url 'upload_temporal_image' %}",
                type: 'POST',
                data: formData,
                headers: {'X-CSRFToken': csrfToken},
                processData: false,
                contentType: false,
                success: function(response) {
                    console.debug('Temporal image uploaded');
                    const previewMsg = "{% translate "Preview" %}";
                    $(`
                    <div class="row align-items-center">
                        <div class="col-sm-2">
                            ${previewMsg}
                        </div>
                        <div class="col-sm-10">
                            <img id="imagePreview" src="${response.image_url}" style="height: 300px; width: auto" alt="${previewMsg}">
                        </div>
                    </div>
                    `).insertBefore("#id_image");
                },
                error: function(error) {
                    console.error('Upload error:', error);
                }
            }).done(function (response) {
                const url = "{% url 'extract_taken_by' image_file='placeholder' %}".replace(
                    "placeholder", response.temporal_image.replace(
                        "temporal/", ""
                    )
                );
                $.ajax({
                    url: url,
                    type: 'GET',
                    headers: {'X-CSRFToken': csrfToken},
                    success: function (response) {
                        getTakenBy(response, loadingDOM);
                    },
                    error: function(error) {
                        console.error('Upload error:', error);
                    }
                })
            });
        });

        function getTakenBy(taskId, loadingDOM){
            const progressUrl = "{% url 'get_progress' task_id='placeholder' %}".replace(
                "placeholder", taskId
            );
            $.ajax({
                url: progressUrl,
                type: 'GET',
                headers: {'X-CSRFToken': csrfToken},
                success: function(response) {
                    if (response.state === "PROGRESS"){
                        console.debug("Progress:", response.details.on);
                        setTimeout(getTakenBy, 500, taskId, loadingDOM);
                    } else if (response.state === "STARTED") {
                        console.debug(`${taskId} process started`);
                        setTimeout(getTakenBy, 500, taskId, loadingDOM);
                    } else if (response.state === "PENDING") {
                        console.debug(`${taskId} pending...`);
                        setTimeout(getTakenBy, 500, taskId, loadingDOM);
                    } else if (response.state === "SUCCESS") {
                        console.debug(`${taskId} success`);
                        const foundMsg = "{% translate 'Text found in image:' %}";
                        loadingDOM.innerHTML = `
                        <div class="alert alert-success">
                            ${foundMsg}
                            <pre class="console-log"><code>${response.details[0]}</code></pre>
                        </div>
                        `;
                        document.getElementById("id_taken_by").value = response.details[1];
                    } else if (response.state === "FAILURE") {
                        console.error(`${taskId} failed`);
                        loadingDOM.innerHTML = "";
                    } else if (response.state === "ERROR") {
                        console.error(`${taskId} error`);
                        loadingDOM.innerHTML = "";
                    } else {
                        setTimeout(getTakenBy, 500, taskId, loadingDOM);
                    }
                },
                error: function(error) {
                    console.error('Upload error:', error);
                }
            });
        }
  </script>
{% endblock %}
{% block content %}
    <h1>{% translate "Photo Gallery" %}</h1>
    <div class="card mb-3">
        <div class="card-header">
            <i class="{% if gallery is None %}far {% else %}fas {% endif %}fa-image"></i>
            {{ species.scientific_name }} &nbsp;
            <i style="color: #808080">{{ species.scientific_name_full }}</i>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="loading" class="col-sm-12"></div>
                <form action="{% if gallery is None %}{% url 'new_gallery_image' species_id=species.id %}{% else %}{% url 'modify_gallery_image' gallery_id=gallery.id %}{% endif %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "form_base.html" with form=form %}
                    <div style="display: flex; justify-content: space-around; margin: 20px;">
                        <button type="submit" class="btn btn-primary" id="load_button">
                            {% if gallery is None %} {% translate "Load" %}
                            {% else %} {% translate "Edit" %}
                            {% endif %}
                            {% translate "Photo" %}
                        </button>
                        <a href="{% url 'species_gallery' species_id=species.id %}" class="btn btn-danger">{% translate "Cancel" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
