{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block javascript %}
    <script type="text/javascript">
        const csrfToken = "{{ csrf_token }}";
        const alertLoad = document.getElementById("alert");
        let errorData = {};
        let language = getTableLanguage("{{ LANGUAGE_CODE }}");
        $(document).ready(function() {
            $('#FilesTable').DataTable({
                serverSide: true,
                processing: true,
                language: language,
                ajax: {
                    url: '{% url "priority_vouchers_table" %}',
                },
                order: [[1, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'herbarium'
                    },
                    {
                        targets: 1,
                        data: 'created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search') {
                                return dateFormat(date, "{{ LANGUAGE_CODE }}");
                            } else if (type === 'sort')
                                return date.toISOString();
                            else
                                return date;
                        }
                    },
                    {
                        targets: 2,
                        data: 'created_by',
                    },
                    {
                        targets: 3,
                        data: 'file_url',
                        render: (data, type, row) => {
                            return `<a href="${data}">${row.filename}</a></td>`
                        }
                    },
                ],
            });
            let taskId = "{{ task_id }}";
            if (taskId === "")
                console.debug("Not file uploaded");
            else {
                const progressUrl = "{% url 'get_progress' task_id='placeholder' %}".replace(
                    'placeholder', taskId
                );
                const urlLog = "{% url 'get_task_log' task_id='placeholder' %}".replace(
                    'placeholder', taskId
                );
                const logFileDefault = "{% static 'assets/processed' %}";
                const alertDOM = document.getElementById("alert");
                updateProgress({
                    taskId: taskId,
                    progressUrl: progressUrl,
                    urlLog: urlLog,
                    progressDOM: alertDOM,
                    csrfToken: csrfToken,
                    logFileDefault: logFileDefault,
                    onErrorMessage: (error) => {
                        return getErrorMessage(error);
                    },
                    successCallback: () => {
                        console.log("Success");
                        document.getElementById("loadButton").disabled = false;
                    },
                    errorCallback: (error) => {
                        document.getElementById("loadButton").disabled = false;
                        const rows = [];
                        const columns = [];
                        if (error.type === "no match with catalog"){
                            columns.push(
                                "catalogNumber",
                                "scientificName",
                                "scientificNameSimilarity",
                                "synonymySimilarity",
                                "similarity"
                            );
                        } else {
                            columns.push(
                                "catalogNumber",
                                "recordedBy",
                                "recordNumber",
                                "scientificName",
                                "locality"
                            );
                        }
                        const keys = Object.keys(errorData[columns[0]]);
                        keys.forEach(key => {
                            const row = {};
                            columns.forEach(column => {
                                row[column] = errorData[column][key];
                            });
                            rows.push(row);
                        });
                        $('#ErrorTable').DataTable({
                            processing: true,
                            language: languageTable.spanish,
                            paging: rows.length > 10,
                            searching: rows.length > 10,
                            ordering:  false,
                            bInfo: rows.length > 10,
                            data: rows,
                            columns: columns.map(column => ({ data: column, title: column })),
                        });
                    }
                });
            }
        });

        function getErrorMessage(error) {
            let errorDataBlock = "";
            if (error.data !== undefined) {
                errorData = JSON.parse(error.data);
                const downloadText = "{% translate 'Download' %}";
                const printText = "{% translate 'Print' %}";
                errorDataBlock = `
                <a class="btn btn-primary btn-block" href="#" onclick="downloadXLSXDataError(errorData); return false;" style="width:200px;">
                    ${downloadText}
                </a>
                <a class="btn btn-primary btn-block" href="#" onclick="printDataError(errorData); return false;" style="width:200px;">
                    ${printText}
                </a>
                <table class="table table-bordered no-footer" id="ErrorTable" width="100%" cellspacing="0">
                    <thead>
                        <!-- To be populated -->
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
                `;
            }
            let message;
            switch (error.type) {
                case 'duplicates in file':
                    message = "{% translate 'Duplicated register on file' %}";
                    return `
                    <p>${message}</p>
                    ${errorDataBlock}
                    `;
                case 'duplicates in database':
                    message = "{% translate 'Duplicated register on the database' %}";
                    return `
                    <p>${message}</p>
                    ${errorDataBlock}
                    `;
                case 'no match with catalog':
                    message = "{% translate 'There are register in which the species name does not match with the catalogue' %}";
                    return `
                    <p>${message}</p>
                    ${errorDataBlock}
                    `;
                case 'code':
                    message = "{% translate 'Import Error' %}";
                    return `
                    <p>${message}</p>
                    ${errorDataBlock}
                    `;
                case 'voucher assertion':
                    message = "{% translate 'Voucher failed an assertion' %}"
                    return `
                    <p>${message}</p>
                    ${errorDataBlock}
                    `;
                default:
                    message = "{% translate 'An unexpected error has happened, please contact the admin before closing this window' %}";
                    return `<h6>${message}</h6>`;
            }
        }

        function printDataError(dataError) {
            $("#overlay").fadeIn(300);
            $.ajax({
                data: dataError,
                url: '{%  url "pdf_error_data" %}',
                type: 'POST',
                success : function(data) {
                    const pdfFile = new Blob([data], {type: "application/pdf"});
                    const pdfUrl = URL.createObjectURL(pdfFile);
                    printJS(pdfUrl);
                }
            }).always(function() {
                $("#overlay").fadeOut(300);
            });
        }

        function downloadXLSXDataError(dataError) {
            let downloadUrl;
            let url;
            $("#overlay").fadeIn(300);
            $.ajax({
                data: dataError,
                url: '{% url "xls_error_data" %}',
                type: 'POST',
                xhrFields: {
                    // make sure the response knows we're expecting a binary type in return.
                    // this is important, without it the excel file is marked corrupted.
                    responseType: 'arraybuffer'
                }
            }).done(function (data, status, xmlHeaderRequest) {
                const downloadLink = document.createElement('a');
                const blob = new Blob([data], {type: xmlHeaderRequest.getResponseHeader('Content-Type')});
                url = window.URL || window.webkitURL;
                downloadUrl = url.createObjectURL(blob);
                const fileName = 'vouchers_error.xlsx';

                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    if (fileName) {
                        if (typeof downloadLink.download === 'undefined') {
                            window.location = downloadUrl;
                        } else {
                            downloadLink.href = downloadUrl;
                            downloadLink.download = "vouchers_error.xlsx";
                            document.body.appendChild(downloadLink);
                            downloadLink.click();
                        }
                    } else {
                        window.location = downloadUrl;
                    }
                }
            }).always(function () {
                if (url !== undefined)
                    url.revokeObjectURL(downloadUrl);
                $("#overlay").fadeOut(300);
            });
        }

        function downloadVouchersXLSX() {
            $("#overlay").fadeIn(300);
            $.ajax({
                url: '{% url "vouchers_download" %}',
                type: 'GET',
                xhrFields: {
                    // make sure the response knows we're expecting a binary type in return.
                    // this is important, without it the excel file is marked corrupted.
                    responseType: 'arraybuffer'
                },
            }).done(function (data, status, xmlHeaderRequest) {
                const downloadLink = document.createElement('a');
                const blob = new Blob([data],
                    {
                        type: xmlHeaderRequest.getResponseHeader('Content-Type')
                    });
                const url = window.URL || window.webkitURL;
                const downloadUrl = url.createObjectURL(blob);
                const fileName = 'vouchers.xlsx';

                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    if (fileName) {
                        if (typeof downloadLink.download === 'undefined') {
                            window.location = downloadUrl;
                        } else {
                            downloadLink.href = downloadUrl;
                            downloadLink.download = "vouchers.xlsx";
                            document.body.appendChild(downloadLink);
                            downloadLink.click();
                        }
                    } else {
                        window.location = downloadUrl;
                    }
                    setTimeout(function () {
                        url.revokeObjectURL(downloadUrl);
                        }, 100);
                }
            }).always(function() {
                $("#overlay").fadeOut(300);
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{% translate "Load Excel" %}</h1>
    <form id="fileForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary" id="loadButton" {% if task_id %} disabled="disabled" {% endif %}>{% translate "Load" %}</button>
                </div>
                <div class="offset-md-6 col-3">
                    <a class="btn btn-primary w-100" href="#" onclick="downloadVouchersXLSX()">
                        {% translate "Download Vouchers" %}
                    </a>
                </div>
            </div>
        </div>
    </form>

    {% if task_id %}
        <div id="alert" class="card mb-3" style="display: block;"></div>
    {% endif %}

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% translate "Files Table" %}
        </div>
        <div class="card-body">
            <div class="table-responsive" id="vouchers-content">
                <table class="table table-bordered" id="FilesTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% translate "Herbarium" %}</th>
                        <th>{% translate "Date" %}</th>
                        <th>{% translate "User" %}</th>
                        <th>{% translate "File" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
