{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block css %}
    <style>
        select {
            width: 150px !important;
        }
    </style>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        const csrfToken = '{% csrf_token %}';
        let language = getTableLanguage("{{ LANGUAGE_CODE }}");
        $(document).ready(function() {
            $('#PagesTable').DataTable({
                serverSide: true,
                processing: true,
                language: language,
                ajax: {
                    url: '{% url "session_table" %}',
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[0, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'id',
                    },
                    {
                        targets: 1,
                        data: 'created_by',
                    },
                    {
                        targets: 2,
                        data: 'created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date, "{{ LANGUAGE_CODE }}");
                            } else if (type === 'sort')
                                return date.toISOString();
                            else
                                return date;
                        }
                    },
                    {
                        targets: 3,
                        data: 'stateless_count',
                    },
                    {
                        targets: 4,
                        data: 'found_count',
                    },
                    {
                        targets: 5,
                        data: 'not_found_count',
                    },
                    {
                        targets: 6,
                        data: 'digitalized',
                    },
                    {
                        targets: 7,
                        data: 'color_profile',
                        orderable: false,
                        render: (data, type, row) => {
                            if (data === null){
                                let uploadMsg = "{% translate 'Upload' %}"
                                return `
                                <form id="fileForm${row.id}" action="" method="post" enctype="multipart/form-data">
                                    ${csrfToken}
                                    <input type="file" id="file${row.id}" style="display: none;" onchange="loadFile(${row.id}); return false;" accept=".dcp"/>
                                    <input type="button" value="${uploadMsg}..." onclick="document.getElementById('file${row.id}').click();" />
                                    <input id="generated_page_id" name="generated_page_id" type="hidden" value="${row.id}">
                                </form>
                                `;
                            } else {
                                const downloadMsg = "{% translate 'Download' %}";
                                return `
                                <div id='file_link_${row.id}'>
                                    <a href="${data}">${downloadMsg}</a>
                                </div>
                                `;
                            }
                        }
                    },
                    {
                        targets: 8,
                        data: 'color_profile',
                        orderable: false,
                        render: (data, type, row) => {
                            let color_profile;
                            if (row.finished){
                                const finishedMsg = "{% translate 'Finished' %}"
                                color_profile = `<b>${finishedMsg}</b>`;
                            } else {
                                const digitizeMsg = "{% translate 'Digitize' %}"
                                const finishMsg = "{% translate 'Finish' %}"
                                let digitizeClass;
                                let finishClass;
                                if (data === null){
                                    digitizeClass = `class="btn btn-secondary"  style="pointer-events: none;cursor: default;"`
                                    finishClass = digitizeClass;
                                } else {
                                    digitizeClass = `class="btn btn-primary" onclick="getVouchers(${row.id}, -1, '${row.name}'); return false;"`;
                                    finishClass = `class="btn btn-danger" onclick="terminateSession(${row.id}); return false;"`;
                                }
                                color_profile = `
                                <a id="digitalized_link_${row.id}" href="#" ${digitizeClass}>${digitizeMsg}</a>
                                <a id="finished_link_${row.id}" href="#" ${finishClass}>${finishMsg}</a>
                                `;
                            }
                            return `
                            <div id="td_link_${ row.id }" class="d-grid gap-2">
                                ${color_profile}
                            </div>
                            `;
                        }
                    },
                ]
            });
        });

        function getVouchers(pageId, voucherState, pageName){
            $("#overlay").fadeIn(300);
            const voucherCard = $('#VouchersCard')
            voucherCard.hide();
            const sessionPage = "{% blocktranslate with pageId=0 %}Session {{ pageId }}{% endblocktranslate %}".replace(
                "0", pageId
            );
            $('#pageName')[0].innerHTML = ` <b>${sessionPage}:</b> <i>${pageName}</i>`;
            url = "{% url 'get_vouchers_to_validate' page_id=0 voucher_state=-1 %}"
                .replace("0", pageId)
                .replace("-1", voucherState);
            console.debug(`Table from ${url}`);
            voucherCard.show();
            const vouchersTable = $('#VouchersTable');
            vouchersTable.DataTable().destroy();
            vouchersTable.DataTable({
                serverSide: true,
                processing: true,
                language: language,
                ajax: {
                    url: url,
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[2, 'asc'], [1, 'asc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'occurrence_id',
                        orderable: false,
                        render: (data) => {
                            let values = [];
                            for (let i=0; i < 7; i++){
                                let selected = '';
                                if (i === data.voucher_state)
                                    selected = 'selected="selected"';
                                values.push(`value="${i}" ${selected}`);
                            }
                            const noState = "{% translate 'No State' context 'spaced' %}";
                            const found = "{% translate 'Found' context 'spaced' %}";
                            const notFound = "{% translate 'Not Found' context 'spaced' %}";
                            const borrowed = "{% translate 'Borrowed' context 'spaced' %}";
                            const lost = "{% translate 'Lost' context 'spaced' %}";
                            const inCuratorship = "{% translate 'In Curatorship' context 'spaced' %}";
                            return `
                            <select id="voucherClassFound${data.id}" class="${getStateClass(data.voucher_state)} custom-select custom-select-sm form-control form-control-sm" onchange="setState(${data.id}, this.value);">
                                <option ${values[0]}>${noState}</option>
                                <option ${values[1]}>${found}</option>
                                <option ${values[2]}>${notFound}</option>
                                <option ${values[3]}>${borrowed}</option>
                                <option ${values[4]}>${lost}</option>
                                <option ${values[6]}>${inCuratorship}</option>
                            </select>
                            `;
                        },
                    },
                    {
                        targets: 1,
                        data: 'catalog_number',
                    },
                    {
                        targets: 2,
                        data: 'species',
                    },
                    {
                        targets: 3,
                        data: 'recorded_by',
                    },
                    {
                        targets: 4,
                        data: 'record_number',
                        render: (data) => {
                            if (isNaN(data)) return ""; else return data;
                        }
                    },
                    {
                        targets: 5,
                        data: 'locality',
                    },
                ],
            });
            const filterState = "{% translate 'Filter State' %}";
            const all = "{% translate 'All' %}";
            const found = "{% translate 'Found' %}";
            const noState = "{% translate 'No State' %}";
            const notFound = "{% translate 'Not Found' %}";
            const borrowed = "{% translate 'Borrowed' %}";
            const lost = "{% translate 'Lost' %}";
            const foundAndBorrowed = "{% translate 'Found And Borrowed' %}";
            const inCuratorship = "{% translate 'In Curatorship' %}";
            const digitalized = "{% translate 'Digitalized' %}";
            const pending = "{% translate 'Pending' %}";
            $('#VouchersTable_length').append(`
            <label class="p-3">
                ${filterState}
                <select id="voucherState" name="VouchersTable_length" aria-controls="VouchersTable" class="custom-select custom-select-sm form-control form-control-sm" onchange="getVouchers(${pageId}, this.value);">
                    <option value="-1">${all}</option>
                    <option value="1">${found}</option>
                    <option value="0">${noState}</option>
                    <option value="2">${notFound}</option>
                    <option value="3">${borrowed}</option>
                    <option value="4">${lost}</option>
                    <option value="5">${foundAndBorrowed}</option>
                    <option value="6">${inCuratorship}</option>
                    <option value="7">${digitalized}</option>
                    <option value="8">${pending}</option>
                </select>
            </label>
            `);
            $(`#voucherState option[value=${voucherState}]`).attr('selected', 'selected');
            $("#overlay").fadeOut(300);
        }

        function setState(biotadaCode, voucherState) {
            console.debug(biotadaCode, voucherState);
            $("#overlay").fadeIn(300);
            $.ajax({
                url: '{% url "set_state" %}',
                type: 'POST',
                data: {
                    biodata_code: biotadaCode,
                    voucher_state: voucherState,
                },
                success: function (response) {
                    if (response.result === 'OK'){
                        document.getElementById(
                            `voucherClassFound${biotadaCode}`
                        ).className = `${getStateClass(parseInt(voucherState))} custom-select custom-select-sm form-control form-control-sm`;
                    } else {
                        console.error(response.result);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            }).always(function(){
                $("#overlay").fadeOut(300);
            });
        }

        function loadFile(formId){
            $("#overlay").fadeIn(300);
            let fileData = $(`#file${formId}`).prop("files")[0];
            let data = new FormData($(`#fileForm${formId}`).get(0));
            data.append("file", fileData)
            $.ajax({
                data: data,
                url: "{% url 'upload_color_profile_file' %}",
                type: 'POST',
                success: function(response) {
                    if(response.result === 'OK'){
                        window.location.reload();
                    }
                    else {
                        console.error(response);
                    }
                },
                error: function(error) {
                    console.error(error);
                },
                cache: false,
                processData: false,
                contentType: false,
            }).always(function() {
                $("#overlay").fadeOut(300);
            })
        }

        function terminateSession(pageId){
            $("#overlay").fadeIn(300);
            let confirmation = confirm("{% translate 'Are you sure? Session' %}");
            if (confirmation) {
                $.ajax({
                    url: '{% url "terminate_session" %}',
                    type: 'POST',
                    data: {
                        page_id: pageId,
                    },
                    success: function(response) {
                        if(response.result === 'OK'){
                            window.location.reload()
                        } else {
                            console.error(response);
                        }
                    },
                    error: function(error) {
                        console.error(error);
                    },
                }).always(function() {
                    $("#overlay").fadeOut(300);
                });
            } else {
                $("#overlay").fadeOut(300);
            }
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{% translate "Specimens Digitalization" %}</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% translate "Page Table" %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="PagesTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% translate "Session" %}</th>
                        <th>{% translate "Created by" %}</th>
                        <th>{% translate "Created at" %}</th>
                        <th>{% translate "No State" %}</th>
                        <th>{% translate "Found" %}</th>
                        <th>{% translate "Not Found" %}</th>
                        <th>{% translate "Digitalized" %}</th>
                        <th>{% translate "Color Profile" %}</th>
                        <th>{% translate "URL" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="VouchersCard" style="display: none;">
        <div class="card-header">
            <i class="fas fa-table"></i><div id="pageName" style="display: contents;"></div>
        </div>
        <div class="card-body">
            <div class="table-responsive" id="VouchersContent">
                <table class="table table-bordered" id="VouchersTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% translate "State" %}</th>
                        <th>{% translate "Herbarium ID" %}</th>
                        <th>{% translate "Species Name" %}</th>
                        <th>{% translate "Collected by" %}</th>
                        <th>{% translate "Collection Number" %}</th>
                        <th>{% translate "Locality" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">{% blocktranslate with time='11:59 PM' %}Updated yesterday at {{ time }}{% endblocktranslate %}</div>
    </div>
{% endblock %}
