{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#PagesTable').DataTable({
                order: [[0, 'desc']],
                language: languageTable.spanish,
                columnDefs: [
                    {
                        targets: [2],
                        render: (data, type) => {
                            if (type === 'sort')
                                return parseDate(data);
                            else
                                return data;
                        }
                    },
                    {
                        targets: [7, 8],
                        orderable: false,
                    },
                ]
            });
        });

        function load_file(form_id){
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });
            let file_data = $("#file_"+form_id).prop("files")[0];
            let data = new FormData($('#file_form_'+form_id).get(0));
            data.append("file", file_data)
            $.ajax({
                data: data,
                url: '/digitalization/upload_color_profile_file',
                type: 'POST',
                success : function(response) {
                    if(response.result == 'ok'){
                        url='<a href="'+response.url+'">Descargar</a>'
                        $("#file_link_"+form_id).empty();
                        $("#file_link_"+form_id).append(url)
                        $("#digitalized_link_"+form_id).removeClass();
                        $("#digitalized_link_"+form_id).removeAttr("style");
                        $("#digitalized_link_"+form_id).addClass("btn btn-primary");
                        $("#digitalized_link_"+form_id).attr('onclick', 'get_vouchers('+form_id+',-1); return false;');
                        $("#terminated_link_"+form_id).removeClass();
                        $("#terminated_link_"+form_id).removeAttr("style");
                        $("#terminated_link_"+form_id).addClass("btn btn-danger");
                        $("#terminated_link_"+form_id).attr('onclick', 'terminate_session('+form_id+'); return false;');
                    }
                },
                cache: false,
                processData: false,
                contentType: false,
            }).done(function() {
                setTimeout(function(){
                    $("#overlay").fadeOut(300);
                },500);
            })
        }

        function set_state(pk,state_voucher){
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });
            $.ajax({
                url: '/digitalization/set_state?pk_voucher='+pk+'&state_voucher='+state_voucher,
                type: 'GET',
                success : function(response) {
                    if (response.result=='OK')
                    {
                        switch(state_voucher) {
                            case 0:
                                $('#id_button_class_found_'+pk).removeClass();
                                $('#id_button_class_found_'+pk).addClass('btn btn-light');
                                $('#id_button_class_not_found_'+pk).removeClass();
                                $('#id_button_class_not_found_'+pk).addClass('btn btn-light');
                                $('#id_button_class_non_state_'+pk).removeClass();
                                $('#id_button_class_non_state_'+pk).addClass('btn btn-warning');
                                break;
                            case 1:
                                $('#id_button_class_found_'+pk).removeClass();
                                $('#id_button_class_found_'+pk).addClass('btn btn-success');
                                $('#id_button_class_not_found_'+pk).removeClass();
                                $('#id_button_class_not_found_'+pk).addClass('btn btn-light');
                                $('#id_button_class_non_state_'+pk).removeClass();
                                $('#id_button_class_non_state_'+pk).addClass('btn btn-light');
                                break;
                            case 2:
                                $('#id_button_class_found_'+pk).removeClass();
                                $('#id_button_class_found_'+pk).addClass('btn btn-light');
                                $('#id_button_class_not_found_'+pk).removeClass();
                                $('#id_button_class_not_found_'+pk).addClass('btn btn-danger');
                                $('#id_button_class_non_state_'+pk).removeClass();
                                $('#id_button_class_non_state_'+pk).addClass('btn btn-light');
                                break;
                        }
                    }
                }
            }).done(function() {
                setTimeout(function(){
                    $("#overlay").fadeOut(300);
                },500);
            });
        }
        function get_vouchers(page_id,voucher_state){
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });
            $.ajax({
                url: '/digitalization/get_vouchers?page_id='+page_id+'&voucher_state='+voucher_state,
                type: 'GET',
                success : function(response) {
                    $('#page_name').text(response.page);
                    data=response.data
                    var table = '<thead><tr><th>Estado</th><th>ID Herbario</th><th>Nombre Especie</th><th>Colectado por</th><th>Numero de Colecta</th><th>Ubicación</th></tr></thead><tbody>'
                    for(var i=0; i<data.length; i++)
                    {
                        button_class_nonstate='btn-light';
                        button_class_found='btn-light';
                        button_class_notfound='btn-light';
                        switch(data[i].fields.voucherState) {
                            case 0:
                                button_class_nonstate='btn-warning';
                                break;
                            case 1:
                                button_class_found='btn-success';
                                break;
                            case 2:
                                button_class_notfound='btn-danger';
                                break;
                        }
                        table += '<tr><td><a class="btn '+button_class_found+'" href="#" onclick="set_state('+data[i].pk+',1); return false;" id="id_button_class_found_'+data[i].pk+'">Encontrado</a><a class="btn '+button_class_nonstate+'" href="#" onclick="set_state('+data[i].pk+',0); return false;" id="id_button_class_non_state_'+data[i].pk+'">Sin Estado</a><a class="btn '+button_class_notfound+'" href="#" onclick="set_state('+data[i].pk+',2); return false;" id="id_button_class_not_found_'+data[i].pk+'">No Encontrado</a></td><td>'+data[i].fields.catalog_number+'</td><td>'+data[i].fields.scientific_name_str+'</td><td>'+data[i].fields.recorded_by+'</td><td>'+data[i].fields.record_number+'</td><td>'+data[i].fields.locality+'</td></tr>';
                    }
                    $("[id^=dataTable]").remove()
                    table += "</tbody>";
                    $('#vouchers-content').append('<table class="table table-bordered" id="dataTable'+page_id+'" width="100%" cellspacing="0"></table>');
                    $('#dataTable'+page_id).append(table);
                    $("#vouchers-table").show("slow");
                },
                cache: false,
                processData: false,
                contentType: false,
            }).done(function() {
                $('#dataTable'+page_id).DataTable();
                $('#dataTable1_length').append('<label class="p-3">Filtrar Estado <select id="voucher_state" name="dataTable1_length" aria-controls="dataTable1" class="custom-select custom-select-sm form-control form-control-sm" onchange="get_vouchers('+page_id+',this.value);"><option value="-1">Todos</option><option value="1">Encontrado</option><option value="0">Sin Estado</option><option value="2">No Encontrado</option></select></label>');
                $('#voucher_state option[value='+voucher_state+']').attr('selected','selected');
                setTimeout(function(){
                    $("#overlay").fadeOut(300);
                },500);
            });
        }

        function terminate_session(page_id){
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });
            var confirmation = confirm("¿Está seguro que desea terminar la sesión? (no podrá continuar marcando estos registros).");
            if (confirmation) {
                $.ajax({
                    url: '/digitalization/terminate_session?page_id='+page_id,
                    type: 'GET',
                    success : function(response) {
                        if(response.result == 'ok'){
                            $("#file_form_"+page_id).remove();
                            $("#digitalized_link_"+page_id).remove();
                            $("#terminated_link_"+page_id).remove();
                            $("#td_link_"+page_id).append('<b>Terminada</b>')
                        }
                    },
                    cache: false,
                    processData: false,
                    contentType: false,
                }).done(function() {
                    setTimeout(function(){
                        $("#overlay").fadeOut(300);
                    },500);
                });
            }
        }
    </script>
{% endblock %}
{% block content %}
    <h1>Digitalización de Especímenes</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Tabla de Páginas</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="PagesTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sesión</th>
                        <th>Creado por</th>
                        <th>Fecha creación</th>
                        <th>Sin Estado</th>
                        <th>Encontrados</th>
                        <th>No Encontrados</th>
                        <th>Digitalizados</th>
                        <th>Perfil de Color</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for generated_page in generated_pages%}
                        <tr>
                            <td>{{ generated_page.id }}</td>
                            <td>{{ generated_page.created_by }}</td>
                            <td>{{ generated_page.created_at }}</td>
                            <td>{{ generated_page.StatelessCount }}</td>
                            <td>{{ generated_page.FoundCount }}</td>
                            <td>{{ generated_page.NotFoundCount }}</td>
                            <td>{{ generated_page.Digitalized }}</td>
                            <td>
                                <div id='file_link_{{generated_page.id}}'>
                                    {% if generated_page.color_profile %}
                                        <a href="{{generated_page.color_profile.file.url}}">Descargar</a>
                                    {% endif %}
                                </div>
                                {% if not generated_page.terminated %}
                                    <form id="file_form_{{generated_page.id}}" action="" method="post" enctype="multipart/form-data">
                                        <input type="file" id="file_{{generated_page.id}}" style="display: none;" onchange="load_file({{generated_page.id}}); return false;" accept=".dcp"/>
                                        <input type="button" value="Subir..." onclick="document.getElementById('file_{{generated_page.id}}').click();" />
                                        <input id="generated_page_id" name="generated_page_id" type="hidden" value="{{ generated_page.id }}">
                                    </form>
                                {% endif %}
                            </td>
                            <td id="td_link_{{ generated_page.id }}" class="d-grid gap-2">
                                {% if not generated_page.terminated %}
                                    <a id="digitalized_link_{{generated_page.id}}" href="#" {% if generated_page.color_profile %} class="btn btn-primary" onclick="get_vouchers({{generated_page.id}},-1); return false;" {% else %} class="btn btn-secondary"  style="pointer-events: none;cursor: default;" {% endif %}>Digitalizar</a>
                                    <a id="terminated_link_{{generated_page.id}}" href="#" {% if generated_page.color_profile %} class="btn btn-danger" onclick="terminate_session({{generated_page.id}}); return false;" {% else %} class="btn btn-secondary"  style="pointer-events: none;cursor: default;" {% endif %}>Terminar</a>
                                {% else %}
                                    <b>Terminada</b>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="vouchers-table" style="display: none;">
        <div class="card-header">
            <i class="fas fa-table"></i><div id="page_name" style="display: contents;"></div>
        </div>
        <div class="card-body">
            <div class="table-responsive" id="vouchers-content">
                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
{% endblock %}