{% extends "base.html" %}
{% load static %}
{% block css %}
    <style>
        select {
            width: 150px !important;
        }
    </style>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#PagesTable').DataTable({
                serverSide: true,
                processing: true,
                language: languageTable.spanish,
                ajax: {
                    url: '{% url "session_table" %}',
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[0, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'id',
                    },
                    {
                        targets: 1,
                        data: 'created_by',
                    },
                    {
                        targets: 2,
                        data: 'created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date)
                            } else if (type === 'sort')
                                return date.toISOString;
                            else
                                return date;
                        }
                    },
                    {
                        targets: 3,
                        data: 'stateless_count',
                    },
                    {
                        targets: 4,
                        data: 'found_count',
                    },
                    {
                        targets: 5,
                        data: 'not_found_count',
                    },
                    {
                        targets: 6,
                        data: 'digitalized',
                    },
                    {
                        targets: 7,
                        data: 'color_profile',
                        orderable: false,
                        render: (data, type, row) => {
                            if (data === null){
                                return `
                                <form id="fileForm${row.id}" action="" method="post" enctype="multipart/form-data">
                                    <input type="file" id="file${row.id}" style="display: none;" onchange="loadFile(${row.id}); return false;" accept=".dcp"/>
                                    <input type="button" value="Subir..." onclick="document.getElementById('file${row.id}').click();" />
                                    <input id="generated_page_id" name="generated_page_id" type="hidden" value="${row.id}">
                                </form>
                                `;
                            } else {
                                return `
                                <div id='file_link_${row.id}'>
                                    <a href="${data}">Descargar</a>
                                </div>
                                `;
                            }
                        }
                    },
                    {
                        targets: 8,
                        data: 'color_profile',
                        orderable: false,
                        render: (data, type, row) => {
                            let color_profile;
                            if (row.terminated){
                                color_profile = "<b>Terminada</b>";
                            } else {
                                let digitalize_class;
                                let terminate_class;
                                if (data === null){
                                    digitalize_class = `class="btn btn-secondary"  style="pointer-events: none;cursor: default;"`
                                    terminate_class = digitalize_class;
                                } else {
                                    digitalize_class = `class="btn btn-primary" onclick="getVouchers(${row.id},-1); return false;"`;
                                    terminate_class = `class="btn btn-danger" onclick="terminateSession(${row.id}); return false;"`;
                                }
                                color_profile = `
                                <a id="digitalized_link_${row.id}" href="#" ${digitalize_class}>Digitalizar</a>
                                <a id="terminated_link_${row.id}" href="#" ${terminate_class}>Terminar</a>
                                `;
                            }
                            return `
                            <div id="td_link_${ row.id }" class="d-grid gap-2">
                                ${color_profile}
                            </div>
                            `
                        }
                    },
                ]
            });
        });

        function getStateClass(voucherState){
            switch(voucherState) {
                case 0:
                    return 'bg-light text-dark';
                case 1:
                    return 'bg-success text-white';
                case 2:
                    return 'bg-danger text-white';
                case 3:
                    return 'bg-warning text-dark';
                case 6:
                    return 'bg-secondary text-white';
                default:
                    return 'bg-info text-dark';
            }
        }

        function getVouchers(pageId, voucherState){
            $("#overlay").fadeIn(300);
            const voucherCard = $('#VouchersCard')
            voucherCard.hide();
            let url = "{% url 'generated_page' pk=0 %}".replace("0", pageId);
            $.ajax({
               url: url,
               type: 'GET',
               success: response => {
                    $('#pageName')[0].innerHTML = ` <b>Sesión ${response.id}:</b> <i>${response.name}</i>`;
                },
                error: error => {
                    console.error(error);
                },
            }).always(function() {
                url = "{% url 'get_vouchers_to_validate' page_id=0 voucher_state=-1 %}"
                    .replace("0", pageId)
                    .replace("-1", voucherState);
                console.debug(`Table from ${url}`);
                voucherCard.show();
                const vouchersTable = $('#VouchersTable');
                vouchersTable.DataTable().destroy();
                vouchersTable.DataTable({
                    serverSide: true,
                    processing: true,
                    language: languageTable.spanish,
                    ajax: {
                        url: url,
                        type: 'GET',
                        dataSrc: 'data',
                    },
                    order: [[2, 'asc'], [4, 'asc']],
                    columnDefs: [
                        {
                            targets: 0,
                            data: 'occurrence_id',
                            orderable: false,
                            render: (data) => {
                                let values = [];
                                for (let i=0; i < 7; i++){
                                    let selected = '';
                                    if (i === data.voucher_state)
                                        selected = 'selected="selected"';
                                    values.push(`value="${i}" ${selected}`);
                                }
                                return `
                                <select id="voucherClassFound${data.id}" class="${getStateClass(data.voucher_state)} custom-select custom-select-sm form-control form-control-sm" onchange="setState(${data.id}, this.value);">
                                    <option ${values[0]}>&nbsp;Sin Estado&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                    <option ${values[1]}>&nbsp;Encontrado&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                    <option ${values[2]}>&nbsp;No Encontrado&nbsp;</option>
                                    <option ${values[3]}>&nbsp;En Préstamo&nbsp;&nbsp;&nbsp;</option>
                                    <option ${values[6]}>&nbsp;En curatoria&nbsp;&nbsp;</option>
                                </select>
                                `;
                            },
                        },
                        {
                            targets: 1,
                            data: 'catalog_number',
                        },
                        {
                            targets: 2,
                            data: 'species',
                        },
                        {
                            targets: 3,
                            data: 'recorded_by',
                        },
                        {
                            targets: 4,
                            data: 'record_number',
                            render: (data) => {
                                if (isNaN(data)) return ""; else return data;
                            }
                        },
                        {
                            targets: 5,
                            data: 'locality',
                        },
                    ],
                });
                $('#VouchersTable_length').append(`
                <label class="p-3">Filtrar Estado
                    <select id="voucherState" name="VouchersTable_length" aria-controls="VouchersTable" class="custom-select custom-select-sm form-control form-control-sm" onchange="getVouchers(${pageId}, this.value);">
                        <option value="-1">Todos</option>
                        <option value="1">Encontrado</option>
                        <option value="0">Sin Estado</option>
                        <option value="2">No Encontrado</option>
                        <option value="3">En Préstamo</option>
                        <option value="4">Extraviado</option>
                        <option value="5">En Préstado Encontrado</option>
                        <option value="6">En curatoria</option>
                        <option value="7">Digitalizado</option>
                        <option value="8">Pendiente</option>
                    </select>
                </label>
                `);
                $(`#voucherState option[value=${voucherState}]`).attr('selected', 'selected');
                $("#overlay").fadeOut(300);
            });
        }

        function setState(biotadaCode, voucherState) {
            console.debug(biotadaCode, voucherState);
            $("#overlay").fadeIn(300);
            $.ajax({
                url: '{% url "set_state" %}',
                type: 'POST',
                data: {
                    biodata_code: biotadaCode,
                    voucher_state: voucherState,
                },
                success: function (response) {
                    if (response.result === 'OK'){
                        document.getElementById(
                            `voucherClassFound${biotadaCode}`
                        ).className = `${getStateClass(parseInt(voucherState))} custom-select custom-select-sm form-control form-control-sm`;
                    } else {
                        console.error(response.result);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            }).always(function(){
                $("#overlay").fadeOut(300);
            });
        }

        function loadFile(formId){
            $("#overlay").fadeIn(300);
            let fileData = $(`#file${formId}`).prop("files")[0];
            let data = new FormData($(`#fileForm${formId}`).get(0));
            data.append("file", fileData)
            $.ajax({
                data: data,
                url: "{% url 'upload_color_profile_file' %}",
                type: 'POST',
                success: function(response) {
                    if(response.result === 'OK'){
                        window.location.reload();
                    }
                    else {
                        console.error(response);
                    }
                },
                error: function(error) {
                    console.error(error);
                },
                cache: false,
                processData: false,
                contentType: false,
            }).always(function() {
                $("#overlay").fadeOut(300);
            })
        }

        function terminateSession(pageId){
            $("#overlay").fadeIn(300);
            let confirmation = confirm("¿Está seguro que desea terminar la sesión? (no podrá continuar marcando estos registros).");
            if (confirmation) {
                $.ajax({
                    url: '{% url "terminate_session" %}',
                    type: 'POST',
                    data: {
                        page_id: pageId,
                    },
                    success: function(response) {
                        if(response.result === 'OK'){
                            window.location.reload()
                        } else {
                            console.error(response);
                        }
                    },
                    error: function(error) {
                        console.error(error);
                    },
                }).always(function() {
                    $("#overlay").fadeOut(300);
                });
            } else {
                $("#overlay").fadeOut(300);
            }
        }
    </script>
{% endblock %}
{% block content %}
    <h1>Digitalización de Especímenes</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Tabla de Páginas</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="PagesTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sesión</th>
                        <th>Creado por</th>
                        <th>Fecha creación</th>
                        <th>Sin Estado</th>
                        <th>Encontrados</th>
                        <th>No Encontrados</th>
                        <th>Digitalizados</th>
                        <th>Perfil de Color</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="VouchersCard" style="display: none;">
        <div class="card-header">
            <i class="fas fa-table"></i><div id="pageName" style="display: contents;"></div>
        </div>
        <div class="card-body">
            <div class="table-responsive" id="VouchersContent">
                <table class="table table-bordered" id="VouchersTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Estado</th>
                        <th>ID Herbario</th>
                        <th>Nombre Especie</th>
                        <th>Colectado por</th>
                        <th>Número de Colecta</th>
                        <th>Ubicación</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
{% endblock %}