{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load roles %}
{% block content %}
    <h1>{% translate "Licence" %}</h1>
    <div class="card mb-3">
        <div class="card-header">
            <i class="far fa-file"></i> &nbsp;
            {% translate "Image licence" %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form action="{% url 'new_licence' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ prev_page }}">
                    {% include 'form_base.html' with form=form %}
                    <div style="display: flex; justify-content: space-around; margin: 20px;">
                        <button type="submit" class="btn btn-primary" id="load_button">{% translate "Add" %}</button>
                        <a href="{{ prev_page }}" class="nav-link btn btn-danger" id="cancel_button">{% translate "Cancel" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
