{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dataTable').DataTable({
                serverSide: true,
                processing: true,
                language: languageTable.spanish,
                ajax: {
                    url: '{% url "session_table_qr" %}',
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[0, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'id',
                    },
                    {
                        targets: 1,
                        data: 'herbarium'
                    },
                    {
                        targets: 2,
                        data: 'created_by',
                    },
                    {
                        targets: 3,
                        data: 'created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date)
                            } else if (type === 'sort')
                                return date.toISOString();
                            else
                                return date;
                        }
                    },
                    {
                        targets: 4,
                        data: 'qr_count'
                    },
                    {
                        targets: 5,
                        data: 'terminated',
                        render: (data) => {
                            return data ? "Sí" : "No";
                        }
                    },
                    {
                        targets: 6,
                        data: 'id',
                        orderable: false,
                        render: (data) => {
                            return `
                            <a class="btn btn-primary text-nowrap" href="#" onclick="printPageList(${data}); return false;">Imprimir Lista</a>
                            `;
                        }
                    },
                    {
                        targets: 7,
                        data: 'id',
                        orderable: false,
                        render: (data) => {
                            return `
                            <a class="btn btn-primary text-nowrap" href="#" onclick="printQRPage(${data}); return false;">Imprimir QRS</a>
                            `;
                        }
                    },
                ],
            });
        });

        function printPageList(pageId) {
            $("#overlay").fadeIn(300);
            const url = '{% url "priority_vouchers_page_download" page_id=0 %}'.replace("0", pageId);
            $.ajax({
                url: url,
                type: 'GET',
                success : function(data) {
                    const pdfFile = new Blob([data], {type: "application/pdf"});
                    const pdfUrl = URL.createObjectURL(pdfFile);
                    printJS(pdfUrl);
                }
            }).always(function() {
                $("#overlay").fadeOut(300);
            });
        }

        function printQRPage(pageId) {
            $("#overlay").fadeIn(300);
            const url = '{% url "qr_page_download" page_id=0%}'.replace("0", pageId);
            $.ajax({
                url: url,
                type: 'GET',
                success : function(data) {
                    const pdfFile = new Blob([data], {type: "application/pdf"});
                    const pdfUrl = URL.createObjectURL(pdfFile);
                    printJS(pdfUrl);
                }
            }).always(function() {
                $("#overlay").fadeOut(300);
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>Generación de Códigos QR</h1>
    <form action="{% url 'qr_generator' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.herbarium }}
            <label for="quantity_pages_label">Ingrese la cantidad de páginas de códigos QR que desea generar el día de hoy (35 qr's / página):</label>
            <input class="form-control" type="number" value="1" name="quantity_pages" min="1" max="10" required>
            <button type="submit" class="btn btn-primary">Generar</button>
        </div>
    </form>
    {% if info %}
        <div class="alert {% if info.state == 'ok' %} alert-success {% elif info.state == 'error' %} alert-danger {% endif %}" role="alert">
            {% if info.state == 'error' %}
                {% if info.type == 'no data' %}
                    <p>No hay registros disponibles para generar códigos QR.</p>
                {% elif info.type == 'not terminated' %}
                    <p>Deben estar todas las sesiones terminadas para generar una nueva.</p>
                {% else %}
                    <p>Error no identificado, favor contactar al administrador</p>
                {% endif %}
            {% elif info.state == 'ok' %}
                <p>Se generaron los códigos QR correctamente</p>
            {% endif %}
        </div>
    {% endif %}
    <h1>Histórico de Códigos QR</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Tabla de páginas generadas</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sesión</th>
                        <th>Herbario</th>
                        <th>Creado por</th>
                        <th>Fecha creación</th>
                        <th>Cantidad QRs</th>
                        <th>¿Terminada?</th>
                        <th>Lista</th>
                        <th>QRs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
