{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block javascript %}
    <script type="text/javascript">
        let language = getTableLanguage("{{ LANGUAGE_CODE }}");
        $(document).ready(function() {
            $('#dataTable').DataTable({
                serverSide: true,
                processing: true,
                language: language,
                ajax: {
                    url: '{% url "session_table_qr" %}',
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[0, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'id',
                    },
                    {
                        targets: 1,
                        data: 'herbarium'
                    },
                    {
                        targets: 2,
                        data: 'created_by',
                    },
                    {
                        targets: 3,
                        data: 'created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date, "{{ LANGUAGE_CODE }}");
                            } else if (type === 'sort')
                                return date.toISOString();
                            else
                                return date;
                        }
                    },
                    {
                        targets: 4,
                        data: 'qr_count'
                    },
                    {
                        targets: 5,
                        data: 'finished',
                        render: (data) => {
                            return data ? "{% translate 'Yes' %}" : "{% translate 'No' %}";
                        }
                    },
                    {
                        targets: 6,
                        data: 'id',
                        orderable: false,
                        render: (data) => {
                            const printMsg = "{% translate 'Print list' %}";
                            return `
                            <a class="btn btn-primary text-nowrap" href="#" onclick="printPageList(${data}); return false;">${printMsg}</a>
                            `;
                        }
                    },
                    {
                        targets: 7,
                        data: 'id',
                        orderable: false,
                        render: (data) => {
                            const printMsg = "{% translate 'Print QRs' %}"
                            return `
                            <a class="btn btn-primary text-nowrap" href="#" onclick="printQRPage(${data}); return false;">${printMsg}</a>
                            `;
                        }
                    },
                ],
            });
        });

        function printPageList(pageId) {
            $("#overlay").fadeIn(300);
            const url = '{% url "priority_vouchers_page_download" page_id=0 %}'.replace("0", pageId);
            $.ajax({
                url: url,
                type: 'GET',
                success : function(data) {
                    const pdfFile = new Blob([data], {type: "application/pdf"});
                    const pdfUrl = URL.createObjectURL(pdfFile);
                    printJS(pdfUrl);
                }
            }).always(function() {
                $("#overlay").fadeOut(300);
            });
        }

        function printQRPage(pageId) {
            $("#overlay").fadeIn(300);
            const url = '{% url "qr_page_download" page_id=0%}'.replace("0", pageId);
            $.ajax({
                url: url,
                type: 'GET',
                success : function(data) {
                    const pdfFile = new Blob([data], {type: "application/pdf"});
                    const pdfUrl = URL.createObjectURL(pdfFile);
                    printJS(pdfUrl);
                }
            }).always(function() {
                $("#overlay").fadeOut(300);
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{% translate "QR Codes Generation" %}</h1>
    <form action="{% url 'qr_generator' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.herbarium }}
            <label for="quantity_pages_label">{% translate "Enter the QR code quantity" %}:</label>
            <input class="form-control" type="number" value="1" name="quantity_pages" min="1" max="10" required>
            <button type="submit" class="btn btn-primary">{% translate "Generate" %}</button>
        </div>
    </form>
    {% if info %}
        <div class="alert {% if info.state == 'ok' %} alert-success {% elif info.state == 'error' %} alert-danger {% endif %}" role="alert">
            {% if info.state == 'error' %}
                {% if info.type == 'no data' %}
                    <p>{% translate "There are no records available to generate QR codes" %}</p>
                {% elif info.type == 'not finished' %}
                    <p>{% translate "All sessions must be finished to generate a new one" %}</p>
                {% else %}
                    <p>{% translate "Unidentified error, please contact the administrator" %}</p>
                {% endif %}
            {% elif info.state == 'ok' %}
                <p>{% translate "QR codes were generated correctly" %}</p>
            {% endif %}
        </div>
    {% endif %}
    <h1>{% translate "QR Code History" %}</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% translate "Generated page table" %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% translate "Session" %}</th>
                        <th>{% translate "Herbarium" %}</th>
                        <th>{% translate "Created by" %}</th>
                        <th>{% translate "Created at" %}</th>
                        <th>{% translate "QR quantity" %}Cantidad QRs</th>
                        <th>{% translate "Determined?" %}</th>
                        <th>{% translate "List" %}</th>
                        <th>{% translate "QRs" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
