{% extends "base.html" %}
{% load static %}
{% load roles %}
{% block javascript %}
  <script type="text/javascript">

  </script>
{% endblock %}
{% block content %}
<h1>Galería de Fotografías: {{specie.scientificName}}</h1>
<form action="/digitalization/species_gallery/{{specie.id}}" method="post">
    {% csrf_token %}
    {{ form }}
    <div style="display: flex; justify-content: space-around; margin: 20px;">
        <button type="submit" class="btn btn-primary" id="load_button">Cargar Fotografía</button>
        <a href="{% url 'upload_gallery_image' %}" class="nav-link btn btn-danger" id="cancel_button">Cancelar</a>
    </div>
</form>
{% endblock %}
