{% extends "base.html" %}
{% load static %}
{% load roles %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#CatalogTable').DataTable({
                order: [[5, 'desc']],
                language: languageTable.spanish,
                columnDefs: [
                    {
                        targets: [5],
                        render: (data, type) => {
                            if (type === 'sort')
                                return parseDate(data);
                            else
                                return data;
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Galería de Fotografías</h1>
    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="CatalogTable" style="width: 100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>División</th>
                        <th>Clase</th>
                        <th>order</th>
                        <th>Familia</th>
                        <th>Nombre Científico Completo</th>
                        <th>Última Actualización</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for specie in species %}
                        <tr>
                            <td>{{ specie.division }}</td>
                            <td>{{ specie.class_name }}</td>
                            <td>{{ specie.order }}</td>
                            <td>{{ specie.family }}</td>
                            <td><a href="{% url 'modify_gallery' catalog_id=specie.id%}">{{ specie.scientific_name_full }}</a></td>
                            <td>{{ specie.updated_at }}</td>
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
