{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}
{% block css %}
    {% leaflet_css %}
    <style>
        .leaflet-container {
            width:  auto;
            height: 400px;
        }
    </style>
{% endblock %}
{% block javascript %}
    {% leaflet_js %}
    <script type="text/javascript">
        $.fn.selectpicker.Constructor.DEFAULTS.noneSelectedText = "{% translate 'Nothing selected' %}";
        $.fn.selectpicker.Constructor.DEFAULTS.liveSearch = true;

        function showCoordinates(map, options) {
            let center = {
                {% if form.instance.decimal_latitude %}
                    latitude: {{ form.instance.decimal_latitude|stringformat:".6f" }},
                    longitude: {{ form.instance.decimal_longitude|stringformat:".6f" }},
                {% else %}
                    latitude: null,
                    longitude: null,
                {% endif %}
            }
            map.setView([center.latitude, center.longitude], 15, options);
            let lat, lng;
            map.addEventListener('mousemove', function(event) {
                lat = event.latlng.lat;
                lng = event.latlng.lng;
                $('#lat').text(lat);
                $('#lng').text(lng);
            });
            map.addEventListener('click', function(event) {
                lat = event.latlng.lat;
                lng = event.latlng.lng;
                $('#id_decimal_latitude').val(lat);
                $('#id_decimal_longitude').val(lng);
            });
            let iconOptions = {
                iconUrl: "{% static 'images/dot.png' %}",
                iconSize: [15, 15]
            }
            // Creating a custom icon

            const customIcon = L.icon(iconOptions);

            // Creating a Marker
            const markerOptions = {
                clickable: false,
                draggable: false,
                icon: customIcon
            };
            new L.marker([center.latitude, center.longitude], markerOptions).addTo(map);
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{% translate "Digitalization: Voucher" %}</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% translate "Update Voucher" %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form action="{% url 'update_voucher' voucher_id=id %}{% if new_types > 0 %}?new_types={{ new_types }}{% endif %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% include 'form_base.html' with form=form width="400px" %}
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{% translate "Locality" %}</label>
                        <div class="col-sm-8">
                            {% leaflet_map "map" callback="showCoordinates" %}
                        </div>
                        <div class="col-sm-2">
                            <span>{% translate "Latitude" %}: <p id="lat"></p></span>
                            <span>{% translate "Longitude" %}: <p id="lng"></p></span>
                        </div>
                    </div>
                    {% if formset %}
                        {{ formset.management_form }}
                        {% for subform in formset %}
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    {% translate "Typification" %}
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive row">
                                        {% include 'form_base.html' with form=subform %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="col-sm-12 pb-2">
                        <a href="{% url 'update_voucher' voucher_id=id %}?new_types={{ new_types | add:1 }}" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i>{% translate 'Add type' %}</a>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" value="{% translate 'Save' %}">
                            <a href="{% url 'control_vouchers' %}" class="btn btn-danger">{% translate "Cancel" %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
