{% extends "base.html" %}
{% load static %}
{% load roles %}
{% block javascript %}
    <script type="text/javascript">
        const csrfToken = "{{ csrf_token }}";
        const myModal = document.getElementById('myModal');
        const postProcessingModal = new bootstrap.Modal('#postprocessingModal');
        $(document).ready(function() {
            $('#PagesTable').DataTable({
                serverSide: true,
                processing: true,
                language: languageTable.spanish,
                ajax: {
                    url: '{% url "session_table" %}',
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[0, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'id',
                    },
                    {
                        targets: 1,
                        data: 'created_by',
                    },
                    {
                        targets: 2,
                        data: 'created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date)
                            } else if (type === 'sort')
                                return date.toISOString;
                            else
                                return date;
                        }
                    },
                    {
                        targets: 3,
                        data: 'stateless_count',
                    },
                    {
                        targets: 4,
                        data: 'found_count',
                    },
                    {
                        targets: 5,
                        data: 'not_found_count',
                    },
                    {
                        targets: 6,
                        data: 'digitalized',
                    },
                    {
                        targets: 7,
                        data: 'color_profile',
                        orderable: false,
                        render: (data, type, row) => {
                            let content;
                            if (row.terminated){
                                let complement;
                                if (data === null)
                                    complement = `class="btn btn-secondary" style="pointer-events: none;cursor: default;"`;
                                else
                                    complement = `class="btn btn-primary" onclick="getVouchers(${row.id},-1); return false;"`;
                                content = `<a id="digitalized_link_${row.id}" href="#" ${complement}>Revisar</a>`;
                            } else {
                                content = `<p>Esta sesión aún no termina.</p>`;
                            }
                            return `
                            <div id="td_link_${row.id}" class="d-grid">
                                ${content}
                            </div>
                            `;
                        }
                    },
                ]
            });
        });

        myModal.addEventListener('show.bs.modal', event => {
            event.target.getElementsByTagName("img")[0].src = event.relatedTarget.getAttribute('data-bs-src');
        })


        function getStateClass(voucherState){
            switch(voucherState) {
                case 0:
                    return 'bg-light text-dark';
                case 1:
                    return 'bg-success text-white';
                case 2:
                    return 'bg-danger text-white';
                case 3:
                    return 'bg-warning text-dark';
                case 4:
                    return 'bg-warning text-white';
                case 5:
                    return 'bg-info text-dark';
                case 6:
                    return 'bg-secondary text-white';
                case 7:
                    return 'bg-primary text-white';
                case 8:
                    return 'bg-light text-dark';
                default:
                    return 'bg-info text-dark';
            }
        }

        function getVouchers(pageId, voucherState){
            $("#overlay").fadeIn(300);
            const voucherCard = $('#VouchersCard');
            voucherCard.hide();
            let url = "{% url 'generated_page' pk=0 %}".replace("0", pageId);
            $.ajax({
                url: url,
                type: 'GET',
                success: response => {
                    $('#pageName')[0].innerHTML = ` <b>Sesión ${response.id}:</b> <i>${response.name}</i>`;
                },
                error: error => {
                    console.error(error);
                },
            }).always(function() {
                url = "{% url 'get_vouchers_to_validate' page_id=0 voucher_state=-1 %}"
                    .replace("0", pageId)
                    .replace("-1", voucherState);
                console.debug(`Table from ${url}`);
                voucherCard.show();
                const vouchersTable = $('#VouchersTable');
                vouchersTable.DataTable().destroy();
                vouchersTable.DataTable({
                    serverSide: true,
                    processing: true,
                    language: languageTable.spanish,
                    ajax: {
                        url: url,
                        type: 'GET',
                        dataSrc: 'data',
                    },
                    order: [[2, 'asc'], [1, 'asc']],
                    columnDefs: [
                        {
                            targets: 0,
                            data: 'occurrence_id',
                            orderable: false,
                            render: (data) => {
                                return `<div class="p-3 mb-2 ${getStateClass(data.voucher_state)}">${data.voucher_state_name}</div>`;
                            },
                        },
                        {
                            targets: 1,
                            data: 'catalog_number',
                        },
                        {
                            targets: 2,
                            data: 'species',
                        },
                        {
                            targets: 3,
                            data: 'recorded_by',
                        },
                        {
                            targets: 4,
                            data: 'record_number',
                            render: (data) => {
                                if (isNaN(data)) return ""; else return data;
                            }
                        },
                        {
                            targets: 5,
                            data: 'locality',
                        },
                        {
                            targets: 6,
                            data: 'id',
                            orderable: false,
                            render: (data, type, row) => {
                                let j = 0;
                                let image;
                                let download;
                                if (row.image_voucher_thumb_url === "#"){
                                    image = "(Sin Imagen)";
                                    download = `<form id="fileForm${data}" action="" method="post" enctype="multipart/form-data">` +
                                        `<input type="file" id="file${data}" style="display: none;" onchange="loadFile(${data}, {pageId: ${pageId}, voucherState: ${voucherState}}); return false;" accept=".CR3"/>` +
                                        `<input type="button" value="Subir imagen..." onclick="document.getElementById('file${data}').click();" />` +
                                        `<input id="generatedPageId" name="generatedPageId" type="hidden" value="${data}">` +
                                        `</form>`;
                                    if (row.image_voucher_cr3_raw_url === "#")
                                        download += `<div id='fileLink${data}'>Download CR3</div>`;
                                    else
                                        download += `<a href="${row.image_voucher_cr3_raw_url}" target=_"blank">Download CR3</a>`;
                                } else {
                                    image = `<div class="gallery-box wow fadeInDown"><div data-bs-toggle="modal" data-bs-target="#myModal" data-bs-src="${row.image_voucher_url}"><img width="200px" src="${row.image_voucher_thumb_url}" data-bs-target="#myCarousel"></div>`;
                                    download = `<a href="${row.image_voucher_jpg_raw_url}" target=_"blank">Download JPG Original</a><br/><a href="${row.image_voucher_jpg_raw_url_public}" target=_"blank">Download JPG Público</a><br/><a href="${row.image_voucher_cr3_raw_url}" target=_"blank">Download CR3</a>`;
                                }
                                return image + download;
                            }
                        }
                    ],
                });
                $('#VouchersTable_length').append(`
                <label class="p-3">Filtrar Estado
                    <select id="voucherState" name="VouchersTable_length" aria-controls="VouchersTable" class="custom-select custom-select-sm form-control form-control-sm" onchange="getVouchers(${pageId}, this.value);">
                        <option value="-1">Todos</option>
                        <option value="1">Encontrado</option>
                        <option value="0">Sin Estado</option>
                        <option value="2">No Encontrado</option>
                        <option value="3">En Préstamo</option>
                        <option value="4">Extraviado</option>
                        <option value="5">En Préstado Encontrado</option>
                        <option value="6">Extraviado Encontrado</option>
                        <option value="7">Digitalizado</option>
                        <option value="8">Pendiente</option>
                    </select>
                </label>
                `);
                $(`#voucherState option[value=${voucherState}]`).attr('selected', 'selected');
                $("#overlay").fadeOut(300);
            });
        }

        function loadFile(voucherId, context = {
            pageId: 1,
            voucherState: -1
        }){
            $("#overlay").fadeIn(300);
            const fileLink = $(`#fileLink${voucherId}`);
            const fileData = $(`#file${voucherId}`).prop("files")[0];
            const data = new FormData($(`#fileForm${voucherId}`).get(0));
            data.append("image", fileData);
            data.append("voucher_id", voucherId);
            $.ajax({
                data: data,
                url: "{% url 'upload_raw_image' %}",
                type: "POST",
                success : response => {
                    if(response.result === 'ok'){
                        url=`<a href="${response.file_url}">Download CR3</a>`;
                        fileLink.empty();
                        fileLink.append(url);
                        getVouchers(context.pageId, context.voucherState);
                    }
                },
                cache: false,
                processData: false,
                contentType: false,
            }).always(function() {
                $("#overlay").fadeOut(300);
            });
        }

        function openProcessPendingImages(){
            $("#overlay").fadeIn(300);
            $.ajax({
                url: "{% url 'get_pending_vouchers' %}",
                type: 'GET',
                success: function(response) {
                    console.debug(response);
                    const postBody = document.getElementById('postBody');
                    let pendingInput = "";
                    for (const voucher of response.vouchers){
                        pendingInput += `<input type="hidden" name="pending_image" value="${voucher}">`;
                    }
                    postBody.innerHTML = `
                    <h6>Se encontraron ${response.count} imágenes por procesar. ¿Desea continuar?</h6>
                    ${pendingInput}
                    <div id="processProgress" class="progress" role="progressbar" aria-label="progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="display: none;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">0%</div>
                    </div>
                    <div role="tab" id="show-log" class="">
                        <h6>
                            <a role="button" data-bs-toggle="collapse" data-bs-target="#console-log" aria-expanded="true" aria-controls="console-log">
                                Mostrar logs
                            </a>
                        </h6>
                    </div>
                    <div id="console-log" class="collapse" role="tabpanel" aria-labelledby="show-log">
                        <pre><code id="logging-content"></code></pre>
                    </div>
                    <p style="display: flex; justify-content: end;">*<i>Si procede, esta ventana deberá permanecer abierta</i></p>
                    `;
                    document.getElementById('continuePostprocessing').disabled = false;
                    document.getElementById('continuePostprocessing').style.display = "";
                    postProcessingModal.show();
                },
                error: function(error) {
                    console.error(error);
                    const postBody = document.getElementById('postBody');
                    postBody.innerHTML = `
                    <div class="alert alert-block alert-danger">
                        <h6>Ocurrió un error, favor cerrar esta ventana e intentar más tarde</h>
                        <input type="hidden" name="pending_image" value="">
                    </div>
                    `;
                    document.getElementById('continuePostprocessing').style.display = "none";
                    postProcessingModal.show();
                },
                cache: false,
                processData: false,
                contentType: false,
            }).always(function() {
                $("#overlay").fadeOut(300);
            });
        }

        function processPendingImages(){
            let pendingVouchers = [];
            for (const voucher of document.getElementsByName('pending_image')){
                pendingVouchers.push(voucher.value);
            }
            document.getElementById('continuePostprocessing').disabled = true;
            $.ajax({
                url: "{% url 'process_pending_images' %}",
                type: 'POST',
                data: {pendingImages: pendingVouchers},
                headers: {'X-CSRFToken': csrfToken},
                mode: 'same-origin',
                success: function(response){
                    console.debug(response);
                    document.getElementById("processProgress").style.display = "";
                    document.getElementById("console-log").style.display = ""
                    updateProgress(response);
                },
                error: function (error){
                    console.error(error);
                    const postBody = document.getElementById('postBody');
                    postBody.innerHTML = `
                    <div class="alert alert-danger">
                        <h6>Ocurrió un error, favor cerrar esta ventana e intentar más tarde</h6>
                        <input type="hidden" name="pending_image" value="">
                    </div>
                    `;
                    document.getElementById('continuePostprocessing').style.display = "none";
                }
            });
        }

        function updateProgress(taskId){
            const progressUrl = "{% url 'get_progress' task_id='placeholder' %}".replace(
                'placeholder', taskId
            );
            const progressDiv = document.getElementById("processProgress");
            let failure = false;
            $.ajax({
                url: progressUrl,
                type: 'GET',
                headers: {'X-CSRFToken': csrfToken},
                success: function(response){
                    if (response.state === "PROGRESS"){
                        let percentage = Number(response.details.step * 100 / response.details.total).toFixed(2);
                        progressDiv.innerHTML = `<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: ${percentage}%">${response.details.step}</div>`;
                        const logDiv = document.getElementById("console-log");
                        logDiv.children[0].innerHTML = response.details.logs;
                        logDiv.scrollTop = logDiv.scrollHeight;
                        setTimeout(updateProgress, 500, taskId);
                    } else if (response.state === "STARTED") {
                        progressDiv.innerHTML = `<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0">0</div>`;
                        const logDiv = document.getElementById("console-log");
                        logDiv.children[0].innerHTML = "Procesando...";
                        logDiv.scrollTop = logDiv.scrollHeight;
                        setTimeout(updateProgress, 500, taskId);
                    } else if (response.state === "SUCCESS") {
                        progressDiv.innerHTML = '<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">100%</div>';
                        progressDiv.style.display = "none";
                        progressDiv.innerHTML = '<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">0%</div>';
                        document.getElementById('continuePostprocessing').disabled = false;
                        document.getElementById('continuePostprocessing').style.display = "none";
                        let urlLog = "{% url 'get_task_log' task_id='placeholder' %}".replace(
                            'placeholder', taskId
                        )
                        let logFileUrl;
                        $.ajax({
                            url: urlLog,
                            type: 'GET',
                            headers: {'X-CSRFRToken': csrfToken},
                            success: function(response){
                                logFileUrl = response;
                            },
                            error: function(error){
                                console.error(error);
                                logFileUrl = "{% static 'assets/processed' %}"
                            }
                        }).always(function() {
                            document.getElementById('postBody').innerHTML = `
                            <div class="alert alert-success">
                                <h6>Proceso completado con éxito</h6>
                            </div>
                            <div role="tab" id="show-log" class="">
                                <h6>
                                    <a role="button" data-bs-toggle="collapse" data-bs-target="#console-log" aria-expanded="true" aria-controls="console-log">
                                        Mostrar logs
                                    </a>
                                </h6>
                            </div>
                            <div id="console-log" class="collapse" role="tabpanel" aria-labelledby="show-log">
                                <pre><code id="logging-content"></code></pre>
                            </div>
                            <a class="btn btn-secondary" href="${logFileUrl}" download="${getFormattedDateTime()}.log">
                                <i class="fas fa-fw fa-download"></i>
                                <span>Descargar logs</span>
                            </a>
                            `;
                            const logDiv = document.getElementById("console-log");
                            logDiv.children[0].innerHTML = response.details.logs;
                            logDiv.scrollTop = logDiv.scrollHeight;
                        });
                    } else if (response.state === "FAILURE") {
                        failure = true;
                    } else {
                        setTimeout(updateProgress, 500, taskId);
                    }
                },
                error: function(error){
                    console.warn(error);
                    failure = true;
                },
            }).always(function() {
                if (failure) {
                    progressDiv.style.display = "none";
                    progressDiv.innerHTML = '<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">0%</div>';
                    document.getElementById('continuePostprocessing').disabled = false;
                    document.getElementById('continuePostprocessing').style.display = "none";
                    let logDiv = document.getElementById("console-log");
                    const content = logDiv.children[0].innerHTML;
                    document.getElementById('postBody').innerHTML = `
                    <div class="alert alert-danger">
                        <h6>Ocurrió un error inesperado, favor contactar al administrador antes de cerrar esta ventana</h6>
                    </div>
                    <div role="tab" id="show-log" class="">
                        <h6>
                            <a role="button" data-bs-toggle="collapse" data-bs-target="#console-log" aria-expanded="true" aria-controls="console-log">
                                Mostrar logs
                            </a>
                        </h6>
                    </div>
                    <div id="console-log" class="collapse" role="tabpanel" aria-labelledby="show-log">
                        <pre><code id="logging-content"></code></pre>
                    </div>
                    `;
                    logDiv = document.getElementById("console-log");
                    logDiv.children[0].innerHTML = content;
                    logDiv.scrollTop = logDiv.scrollHeight;
                }
            });
        }

        function getFormattedDateTime() {
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');
            const day = String(now.getDate()).padStart(2, '0');
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            return `${year}_${month}_${day}-${hours}_${minutes}_${seconds}`;
        }
    </script>
{% endblock %}
{% block css %}
    <style>
        #console-log {
            font-family: Arial, sans-serif;
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            max-height: 300px;
            overflow-y: auto;
        }

        .log {
            color: black;
        }

        .debug {
            color: blue;
        }

        .info {
            color: green;
        }

        .warn {
            color: orange;
        }

        .error {
            color: red;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Digitalización de Especímenes</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="row">
            <div class="col-3">
                <a class="btn btn-primary" href="#" onclick="openProcessPendingImages()" {% if request.user|has_group:"Test" %} style="visibility: hidden;"{% endif %}>Procesar imagenes pendientes</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="alert" role="alert" style="display: none;" id="alert"></div>
            </div>
        </div>
        <div class="card-header">
            <i class="fas fa-table"></i>
            Tabla de Páginas</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="PagesTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sesión</th>
                        <th>Creado por</th>
                        <th>Fecha creación</th>
                        <th>Sin Estado</th>
                        <th>Encontrados</th>
                        <th>No Encontrados</th>
                        <th>Digitalizados</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="VouchersCard" style="display: none;">
        <div class="card-header">
            <i class="fas fa-table"></i><div id="pageName" style="display: contents;"></div>
        </div>
        <div class="card-body">
            <div class="table-responsive" id="VouchersContent">
                <table class="table table-bordered" id="VouchersTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Estado</th>
                        <th>ID Herbario</th>
                        <th>Nombre Especie</th>
                        <th>Colectado por</th>
                        <th>Número de Colecta</th>
                        <th>Ubicación</th>
                        <th>Imagen</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Carousel -->
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner" id="myCarouselItem">
                            <div class="carousel-item active">
                                <img src="#" class="d-block w-100">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="postprocessingModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Procesamiento de imágenes pendientes</h5>
                </div>
                <div id="postBody" class="modal-body">
                    <input type="hidden" name="pending-images" value="">
                </div>
                <div class="modal-footer">
                    <button id="continuePostprocessing" type="button" class="btn btn-primary" style="display: none;" onclick="processPendingImages()">Continuar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}