{% extends "base.html" %}
{% load static %}
{% load roles %}
{% block javascript %}
    <script type="text/javascript">
        const myModal = document.getElementById('myModal');
        $(document).ready(function() {
            $('#PagesTable').DataTable({
                order: [[0, 'desc']],
                language: languageTable.spanish,
                columnDefs: [
                    {
                        targets: [2],
                        render: (data, type) => {
                            if (type === 'sort')
                                return parseDate(data);
                            else
                                return data;
                        }
                    },
                    {
                        targets: [7],
                        orderable: false,
                    }
                ]
            });
        });

        myModal.addEventListener('show.bs.modal', event => {
            event.target.getElementsByTagName("img")[0].src = event.relatedTarget.getAttribute('data-bs-src');
        })


        function getStateClass(voucherState){
            switch(voucherState) {
                case 0:
                    return 'bg-light text-dark';
                case 1:
                    return 'bg-success text-white';
                case 2:
                    return 'bg-danger text-white';
                case 3:
                    return 'bg-warning text-dark';
                case 4:
                    return 'bg-warning text-white';
                case 5:
                    return 'bg-info text-dark';
                case 6:
                    return 'bg-info text-dark';
                case 7:
                    return 'bg-primary text-white';
                default:
                    return 'bg-info text-dark';
            }
        }

        function getVouchers(pageId, voucherState){
            const voucherCard = $('#VouchersCard');
            voucherCard.hide();
            let url = "{% url 'generated_page' pk=0 %}".replace("0", pageId);
            $.ajax({
                url: url,
                type: 'GET',
                success: response => {
                    $('#pageName')[0].innerText = " " + response.name;
                },
            })
            url = "{% url 'get_vouchers_to_validate' page_id=0 voucher_state=-1 %}"
                .replace("0", pageId)
                .replace("-1", voucherState);
            console.debug(`Table from ${url}`);
            voucherCard.show();
            const vouchersTable = $('#VouchersTable');
            vouchersTable.DataTable().destroy();
            vouchersTable.DataTable({
                serverSide: true,
                processing: true,
                language: languageTable.spanish,
                ajax: {
                    url: url,
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[2, 'asc'], [4, 'asc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'occurrence_id',
                        render: (data) => {
                            return `<div class="p-3 mb-2 ${getStateClass(data.voucher_state)}">${data.voucher_state_name}</div>`;
                        },
                    },
                    {
                        targets: 1,
                        data: 'catalogNumber',
                    },
                    {
                        targets: 2,
                        data: 'species',
                    },
                    {
                        targets: 3,
                        data: 'recordedBy',
                    },
                    {
                        targets: 4,
                        data: 'recordNumber',
                    },
                    {
                        targets: 5,
                        data: 'locality',
                    },
                    {
                        targets: 6,
                        data: 'occurrence_id',
                        render: (data, type, row) => {
                            let j = 0;
                            let image;
                            let download;
                            if (row.image_voucher_thumb_url === "#"){
                                image = "(Sin Imagen)";
                                download = `<form id="fileForm${data.id}" action="" method="post" enctype="multipart/form-data">` +
                                    `<input type="file" id="file${data.id}" style="display: none;" onchange="loadFile(${data.id}); return false;" accept=".CR3"/>` +
                                    `<input type="button" value="Subir imagen..." onclick="document.getElementById('file${data.id}').click();" />` +
                                    `<input id="generatedPageId" name="generatedPageId" type="hidden" value="${data.id}">` +
                                    `</form>`;
                                if (row.image_voucher_cr3_raw_url === "#")
                                    download += `<div id='fileLink${data.id}'>Download CR3</div>`;
                                else
                                    download += `<a href="${row.image_voucher_cr3_raw_url}" target=_"blank">Download CR3</a>`;
                            } else {
                                image = `<div class="gallery-box wow fadeInDown"><div data-bs-toggle="modal" data-bs-target="#myModal" data-bs-src="${row.image_voucher_url}"><img width="200px" src="${row.image_voucher_thumb_url}" data-bs-target="#myCarousel" data-slide-to="${j}"></div>`;
                                download = `<a href="${row.image_voucher_jpg_raw_url}" target=_"blank">Download JPG Original</a><br/><a href="${row.image_voucher_jpg_raw_url_public}" target=_"blank">Download JPG Público</a><br/><a href="${row.image_voucher_cr3_raw_url}" target=_"blank">Download CR3</a>`;
                            }
                            return image + download;
                        }
                    }
                ],
            });
            $('#VouchersTable_length').append(`<label class="p-3">Filtrar Estado <select id="voucherState" name="VouchersTable_length" aria-controls="VouchersTable" class="custom-select custom-select-sm form-control form-control-sm" onchange="getVouchers(${pageId}, this.value);"><option value="-1">Todos</option><option value="1">Encontrado</option><option value="0">Sin Estado</option><option value="2">No Encontrado</option><option value="3">En Préstamo</option><option value="4">Extraviado</option><option value="5">En Préstado Encontrado</option><option value="6">Extraviado Encontrado</option><option value="7">Digitalizado</option></select></label>`);
            $(`#voucherState option[value=${voucherState}]`).attr('selected', 'selected');
        }

        function loadFile(voucherId){
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });
            const fileLink = $(`#fileLink${voucherId}`);
            const fileData = $(`#file${voucherId}`).prop("files")[0];
            const data = new FormData($(`#fileForm${voucherId}`).get(0));
            data.append("image", fileData);
            data.append("voucher_id", voucherId);
            $.ajax({
                data: data,
                url: "{% url 'upload_raw_image' %}",
                type: "POST",
                success : response => {
                    if(response.result === 'ok'){
                        url=`<a href="${response.file_url}">Download CR3</a>`;
                        fileLink.empty();
                        fileLink.append(url);
                    }
                },
                cache: false,
                processData: false,
                contentType: false,
            }).done(function() {
                setTimeout(function(){
                    $("#overlay").fadeOut(300);
                },500);
            })
        }

        function process_pending_images(){
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });

            $.ajax({
                url: '/digitalization/process_pending_images',
                type: 'GET',
                success : function(response) {
                    if(response.result == 'ok'){
                        $("#alert").addClass("alert-success");
                        var messaje = '<p>Proceso exitoso</p>';
                    }
                    else
                    {
                        $("#alert").addClass("alert-danger");
                        var messaje = '<p>Error al iniciar el proceso</p>';
                    }
                    $('#alert').append(messaje);
                    $("#alert").show("slow");
                },
                cache: false,
                processData: false,
                contentType: false,
            }).done(function() {
                setTimeout(function(){
                    $("#overlay").fadeOut(300);
                },500);
            })
        }
    </script>
{% endblock %}
{% block content %}
    <h1>Digitalización de Especímenes</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="row">
            <div class="col-3" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en este botón">
                <a class="btn btn-primary disabled" href="#" onclick="process_pending_images()" {% if request.user|has_group:"Test" %} style="visibility: hidden;"{% endif %}>Procesar imagenes pendientes</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="alert" role="alert" style="display: none;" id="alert"></div>
            </div>
        </div>
        <div class="card-header">
            <i class="fas fa-table"></i>
            Tabla de Páginas</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="PagesTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sesión</th>
                        <th>Creado por</th>
                        <th>Fecha creación</th>
                        <th>Sin Estado</th>
                        <th>Encontrados</th>
                        <th>No Encontrados</th>
                        <th>Digitalizados</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for generated_page in generated_pages%}
                        <tr>
                            <td>{{ generated_page.id }}</td>
                            <td>{{ generated_page.created_by }}</td>
                            <td>{{ generated_page.created_at }}</td>
                            <td>{{ generated_page.StatelessCount }}</td>
                            <td>{{ generated_page.FoundCount }}</td>
                            <td>{{ generated_page.NotFoundCount }}</td>
                            <td>{{ generated_page.Digitalized }}</td>
                            <td id="td_link_{{generated_page.id}}" class="d-grid">
                                {% if generated_page.terminated %}
                                    <a id="digitalized_link_{{generated_page.id}}" href="#" {% if generated_page.color_profile %} class="btn btn-primary" onclick="getVouchers({{generated_page.id}},-1); return false;" {% else %} class="btn btn-secondary"  style="pointer-events: none;cursor: default;" {% endif %}>Revisar</a>
                                {% else %}
                                    <p>Esta sesión aún no termina.</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card mb-3" id="VouchersCard" style="display: none;">
        <div class="card-header">
            <i class="fas fa-table"></i><div id="pageName" style="display: contents;"></div>
        </div>
        <div class="card-body">
            <div class="table-responsive" id="VouchersContent">
                <table class="table table-bordered" id="VouchersTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Estado</th>
                        <th>ID Herbario</th>
                        <th>Nombre Especie</th>
                        <th>Colectado por</th>
                        <th>Número de Colecta</th>
                        <th>Ubicación</th>
                        <th>Imagen</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Carousel -->
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner" id="myCarouselItem">
                            <div class="carousel-item active">
                                <img src="#" class="d-block w-100">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}