{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block javascript %}
    <script>
        const csrfToken = "{{ csrf_token }}";
        function generateDwCA(code) {
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });
            let url;
            if (code === 0)
                url = "{% url 'generate_dwc_catalog' %}";
            else {
                url = "{% url 'generate_dwc_herbarium' herbarium_id=0 %}";
                url = url.replace("0", code);
            }
            $.ajax({
                url: url,
                type: "GET",
            }).done(function(data) {
                window.location.href = "{% url 'download_dwc_archive' %}?task_id=" + data + "&code=" + code;
            }).catch(function(data, status, error) {
                console.error(data);
                console.error(status);
                console.error(error);
            }).always(function() {
                setTimeout(function() {
                    $("#overlay").fadeOut(300);
                }, 100);
            });
        }

        function downloadDwCArchive(code) {
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });
            let url = "{% url 'download_dwca_file' code=0 %}";
            url = url.replace("0", code);
            $.ajax({
                url: url,
                type: "GET",
            }).done(function(data) {
                console.log(data);
                const downloadLink = document.createElement('a');
                downloadLink.href = data.url;
                downloadLink.download = data.filename;
                document.body.appendChild(downloadLink);
                downloadLink.click();
            }).catch(function(data, status, error) {
                console.log(data);
                console.log(status);
                console.log(error);
            }).always(function() {
                setTimeout(function() {
                    $("#overlay").fadeOut(300);
                }, 100);
            });
        }

        function parseError(error) {
            console.error(error);
            let message = "{% translate 'An unexpected error has happened, please contact the admin before closing this window' %}";
            return `<p>${message}</p>`;
        }

        $(document).ready(function() {
            let taskId = "{{ task_id }}";
            if (taskId === "") {
                console.debug("Home page. Not downloading.");
            } else {
                const progressUrl = "{% url 'get_progress' task_id='placeholder' %}".replace('placeholder', taskId);
                const urlLog = "{% url 'get_task_log' task_id='placeholder' %}".replace('placeholder', taskId);
                const logFileDefault = "{% static 'assets/processed' %}";
                const alertDOM = document.getElementById("alert");
                updateProgress({
                    taskId: taskId,
                    progressUrl: progressUrl,
                    urlLog: urlLog,
                    progressDOM: alertDOM,
                    csrfToken: csrfToken,
                    logFileDefault: logFileDefault,
                    onErrorMessage: (error) => {
                        return parseError(error);
                    },
                    successCallback: () => {
                        console.log("Success");
                        let code = {{ code }};
                        let downloadLink;
                        if (code === 0)
                            downloadLink = document.getElementById("downloadCatalog");
                        else
                            downloadLink = document.getElementById(`downloadHerbarium${code}`);
                        document.getElementById("downloadCatalog").disabled = false;
                        document.querySelectorAll(".download-herbarium").forEach(el => el.disabled = false);
                        downloadLink.getElementsByTagName("i")[0].hidden = false;
                    },
                    errorCallback: (error) => {
                        console.error(error);
                        document.getElementById("downloadCatalog").disabled = false;
                        document.querySelectorAll(".download-herbarium").forEach(el => el.disabled = false);
                    }
                });
            }
        });
    </script>
{% endblock %}
{% block content %}
    <h1>{% translate "Download Darwin Core Archive" %}</h1>
    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-fw fa-file"></i>
            {% translate "Download Darwin Core Of:" %}
        </div>
        {% if task_id %}
            <div id="alert" class="card mb-3" style="display: block;"></div>
        {% endif %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <button id="downloadCatalog" onclick="{% if task_id and code == 0 %}downloadDwCArchive(0){% else %}generateDwCA(0){% endif %}" class="btn btn-primary" {% if task_id %} disabled="disabled" {% endif %}>
                        <i class="fas fa-fw fa-download" hidden="hidden"></i>
                        {% translate "Catalog of Vascular Plants" %}
                    </button>
                </div>
            </div>
            {% for herbarium in herbaria %}
            <div class="row">
                <div class="col-md-12">
                    <button id="downloadHerbarium{{ herbarium.id }}" onclick="{% if task_id and code == herbarium.id %}downloadDwCArchive({{ herbarium.id }}){% else %}generateDwCA({{ herbarium.id }}){% endif %}" class="btn btn-primary download-herbarium" {% if task_id %} disabled="disabled" {% endif %}>
                        <i class="fas fa-fw fa-download" hidden="hidden"></i>
                        {% blocktrans with code=herbarium.collection_code %}Herbarium {{ code }}{% endblocktrans %}
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
