{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js" integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.defaultFontColor = '#292b2c';

        // Area Chart Example
        let ctx = document.getElementById("generated_qr");
        let myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    {% if count_total_codes %}
                        {% for count_total_code in count_total_codes %}
                            "{{count_total_code.day}}-{{count_total_code.month}}-{{count_total_code.year}}",
                        {% endfor %}
                    {% endif %}
                ],
                datasets: [{
                    label: "{% translate 'Scanned QRs' %}",
                    lineTension: 0.3,
                    backgroundColor: "rgba(2,117,216,0.2)",
                    borderColor: "rgba(2,117,216,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(40,167,69,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(6,241,59,1)",
                    pointHitRadius: 50,
                    pointBorderWidth: 2,
                    fill: {
                        target: "origin",
                        below: "rgba(2,117,216,1)",
                    },
                    data: [
                        {% if count_scanned_codes %}
                            {% for count_scanned_code in count_scanned_codes %}
                                "{{count_scanned_code.count}}",
                            {% endfor %}
                        {% endif %}
                    ],
                },
                    {
                        label: "{% translate 'Generated QRs' %}",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 50,
                        pointBorderWidth: 2,
                        fill: {
                            target: "origin",
                            below: "rgba(2,117,216,1)",
                        },
                        data: [
                            {% if count_total_codes %}
                                {% for count_total_code in count_total_codes %}
                                    "{{count_total_code.count}}",
                                {% endfor %}
                            {% endif %}
                        ],
                    }],
            },
            options: {
                scales: {
                    x: {
                        time: {
                            unit: 'date'
                        },
                        grid: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 7,
                        },
                    },
                    y: {
                        min: 0,
                        max: {{ y_max }},
                        ticks: {
                            maxTicksLimit: 5,
                        },
                        grid: {
                            color: "rgba(0, 0, 0, .125)",
                        }
                    },
                },
                plugins: {
                    legend: {
                        display: false
                    },
                },
            }
        });

        let ctx2 = document.getElementById("total_generated_qr");
        let myBarChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: [{% for herbarium in herbariums %}"{{ herbarium }}", {% endfor %}],
                datasets: [
                    {
                        label: "{% translate 'Pending Specimens' %}",
                        backgroundColor: "#007bff",
                        data: [{% for herbarium in stands %}{{ herbarium }}, {% endfor %}],
                    }, {
                        label: "{% translate 'Scanned Specimens' %}",
                        backgroundColor: "#28a745",
                        data: [{% for herbarium in digitalized %}{{ herbarium }}, {% endfor %}]
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        min: 0,
                        max: {{ bar_max }},
                        ticks: {
                            maxTicksLimit: 5,
                        },
                        grid: {
                            color: "rgba(0, 0, 0, .125)",
                        }
                    },
                },
                animation: {
                    duration: 1,
                    onComplete: function (animation) {
                        let chartInstance = animation.chart;
                        let ctx = chartInstance.ctx;
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';
                        ctx.font = ctx.font.replace("12", "14");

                        chartInstance.data.datasets.forEach(function (dataset, i) {
                            let meta = chartInstance.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                let data = dataset.data[index];
                                ctx.fillStyle = darkenColor(bar.options.backgroundColor, 60);
                                ctx.fillText(data, bar.x, bar.y - 5);
                            });
                        });
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: "{% translate 'Processing Specimens' %}"
                    }
                }
            }
        });
    </script>
{% endblock %}
{% block content %}
    <h1>{% translate "Herbarium Digitalization" %}</h1>
    <p>{% translate "Digitization indicators" %}</p>
    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            {% translate "Generated QR Quantity" %}
        </div>
        <div class="card-body">
            <canvas id="generated_qr" width="100%" height="30"></canvas>
            <canvas id="total_generated_qr" width="100%" height="30"></canvas>
        </div>
    </div>
{% endblock %}
