{% load static %}
{% load i18n %}
<a class="navbar-brand mr-1" href="{% url 'index' %}">
    <img alt="biodata_logo" src="{% static 'images/biodata_logo.png' %}" style="height: 1.5em;">
    <i>i</i>-
    <img alt="biodata_blanco" src="{% static 'images/biodata_tipo_blanco.png' %}" style="height: 1em;">
</a>
<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
</button>
<!-- Navbar -->
<ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url "preference" %}">{% translate "Preference" %}</a>
            {% if request.user.is_staff %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'admin:index' %}">{% translate "Admin Django Page" %}</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#logoutModal">{% translate "Log out" %}</a>
        </div>
    </li>
</ul>
