{% load static %}
{% load i18n %}
{% load roles %}
{% block javascript %}
    <script type="text/javascript">
        function download_catalog() {
            $(document).ajaxSend(function () {
                $("#overlay").fadeIn(300);
            });
            $.ajax({
                url: '/digitalization/download_catalog',
                type: 'GET',
                xhrFields: {
                    // make sure the response knows we're expecting a binary type in return.
                    // this is important, without it the excel file is marked corrupted.
                    responseType: 'arraybuffer'
                }
            }).done(function (data, status, xmlHeaderRequest) {
                const downloadLink = document.createElement('a');
                const blob = new Blob([data],
                    {
                        type: xmlHeaderRequest.getResponseHeader('Content-Type')
                    });
                const url = window.URL || window.webkitURL;
                const downloadUrl = url.createObjectURL(blob);
                const fileName = 'catalog.xlsx';

                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    if (fileName) {
                        if (typeof downloadLink.download === 'undefined') {
                            window.location = downloadUrl;
                        } else {
                            downloadLink.href = downloadUrl;
                            downloadLink.download = "catalog.xlsx";
                            document.body.appendChild(downloadLink);
                            downloadLink.click();
                        }
                    } else {
                        window.location = downloadUrl;
                    }
                    setTimeout(function () {
                            url.revokeObjectURL(downloadUrl);
                            $("#overlay").fadeOut(300);
                        },
                        100);
                }
            });
        }
    </script>
{% endblock %}
<li class="nav-item active">
    <a class="nav-link" href="/">
        <i class="fas fa-fw fa-home"></i>
        <span>{% translate "Home" %}</span></a>
</li>
{% if request.user|has_group:"Collection Researcher" %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'load_priority_vouchers_file' %}">
            <i class="fas fa-fw fa-file-excel"></i>
            <span>{% translate "Load Prioritized Specimens" %}</span>
        </a>
    </li>
{% endif %}
{% if request.user|has_group:"Curator" %}
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'qr_generator' %}">
            <i class="fas fa-fw fa-qrcode"></i>
            <span>{% translate "QR Codes Generation" %}</span>
        </a>
    </li>
{% endif %}
{% if request.user|has_group:"Digitizer" %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'mark_vouchers' %}">
            <i class="fas fa-fw fa-camera"></i>
            <span>{% translate "Specimens Digitalization" %}</span>
        </a>
    </li>
{% endif %}
{% if request.user|has_group:"Control" %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'control_vouchers' %}">
            <i class="fas fa-fw fa-search"></i>
            <span>{% translate "Digitalization Control" %}</span>
        </a>
    </li>
{% endif %}
{% if request.user|has_group:"Curator" %}
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'validate_vouchers' %}">
            <i class="fas fa-fw fa-check"></i>
            <span>{% translate "Specimens Validation" %}</span>
        </a>
    </li>
{% endif %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-fw fa-leaf"></i>
        <span>{% translate "Catalogue" %}</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        {% if request.user|has_group:"Catalog" %}
            <a class="dropdown-item" href="{% url 'list_division' %}">{% translate "Division" %}</a>
            <a class="dropdown-item" href="{% url 'list_class' %}">{% translate "Class" %}</a>
            <a class="dropdown-item" href="{% url 'list_order' %}">{% translate "Order" %}</a>
            <a class="dropdown-item" href="{% url 'list_family' %}">{% translate "Family" %}</a>
            <a class="dropdown-item" href="{% url 'list_genus' %}">{% translate "Genus" %}</a>
            <a class="dropdown-item" href="{% url 'list_taxa' %}">{% translate "Taxon" %}</a>
            <a class="dropdown-item" href="{% url 'list_synonymy' %}">{% translate "Synonym" %}</a>
            <a class="dropdown-item" href="{% url 'list_common_name' %}">{% translate "Common Name" %}</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'list_binnacle' %}">{% translate "Change Log" %}</a>
    </div>
</li>
{% if request.user|has_group:"Catalog" %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'modify_gallery_image' %}">
            <i class="fas fa-fw fa-images"></i>
            <span>{% translate "Upload to Gallery" %}</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="download_catalog()">
            <i class="fas fa-fw fa-download"></i>
            <span>{% translate "Download current version" %}</span>
        </a>
    </li>
{% endif %}
<!-- For test new task -->
{% if request.user|has_group:"Test" %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'test_view' %}">
            <i class="fas fa-fw fa-check"></i>
            <span>{% translate "Test" %}</span>
        </a>
    </li>
{% endif %}
