{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block javascript %}
    <script type="text/javascript">
        $.fn.selectpicker.Constructor.DEFAULTS.noneSelectedText = "{% translate 'Nothing selected' %}";

        document.querySelector("#id_references").addEventListener("change", function() {
            const selectedValue = this.value;
            if (selectedValue === "") {
                this.value = 1;
                window.location.href = "{% url 'new_reference' %}";
            }
        });
    </script>
{% endblock %}
{% block content %}
    {% translate "Taxon" as rank %}
    <h1>{% translate "Catalogue" %}: {{ rank }}</h1>
    {% blocktranslate with title=rank asvar title %}Create {{ title }}{% endblocktranslate %}
    {% include 'catalog/taxa_form.html' with form=form form_title=title form_url=form_url delete_button=False %}
{% endblock %}
