{% extends "base.html" %}
{% load static %}
{% block javascript %}
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#CatalogTable').DataTable();
  });
  </script>
{% endblock %}
{% block content %}
<h1>Familia</h1>
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="row">
    <div class="col-3">
     <a class="btn btn-primary btn-block" href="{% url 'create_family' %}">Nuevo</a>
    </div>
  </div>
  <div class="card-header">
    <i class="fas fa-table"></i>
    Familia</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="CatalogTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Orden</th>
            <th>Creado por</th>
            <th>Fecha Creación</th>
            <th>Fecha Actualización</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for item in family %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.order }}</td>
              <td>{{ item.created_by }}</td>
              <td>{{ item.created_at }}</td>
              <td>{{ item.updated_at }}</td>
              <td>                
                <a href="{% url 'update_family' id=item.id %}"><i class="fas fa-fw fa-edit text-primary"></i></a>
              </td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}