{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block javascript %}
    <script type="text/javascript">
        let language = getTableLanguage("{{ LANGUAGE_CODE }}");
        const tempSearchBar = document.getElementById('temp-search-bar');

        tempSearchBar.addEventListener('input', function () {
            if (tempSearchBar.value.length > 3) {
                document.getElementById("TemporalSearch").setAttribute("style", "display: none;");
                loadTable();
                const searchBar = document.getElementById("CatalogTable_filter").children[0].children[0];
                searchBar.value = tempSearchBar.value;
                searchBar.focus();
            }
        })

        function loadTable(){
            document.getElementById("TemporalSearch").setAttribute("style", "display: none;");
            $('#CatalogTable').DataTable({
                serverSide: true,
                processing: true,
                language: language,
                ajax: {
                    url: "{% url 'taxa_table' %}",
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[7, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'division',
                    },
                    {
                        targets: 1,
                        data: 'class_name'
                    },
                    {
                        targets: 2,
                        data: 'order'
                    },
                    {
                        targets: 3,
                        data: 'family'
                    },
                    {
                        targets: 4,
                        data: 'scientific_name_full'
                    },
                    {
                        targets: 5,
                        data: 'created_by'
                    },
                    {
                        targets: 6,
                        data: 'created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date, "{{ LANGUAGE_CODE }}");
                            } else if (type === 'sort'){
                                return date.toISOString();
                            } else {
                                return date;
                            }
                        }
                    },
                    {
                        targets: 7,
                        data: 'updated_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date, "{{ LANGUAGE_CODE }}");
                            } else if (type === 'sort'){
                                return date.toISOString();
                            } else {
                                return date;
                            }
                        }
                    },
                    {
                        targets: 8,
                        data: 'status'
                    },
                    {
                        targets: 9,
                        data: 'determined'
                    },
                    {
                        targets: 10,
                        orderable: false,
                        data: 'id',
                        render: (data) => {
                            const editMsg = "{% translate 'Edit' %}"
                            const mergeMsg = "{% translate 'Merge' %}"
                            const linkUpdate = "{% url 'update_taxa' species_id=0 %}";
                            const linkMerge = "{% url 'select_taxa' species_id=0 %}";
                            let actions = `<a href="${linkUpdate}" style="white-space: nowrap"><i class="fas fa-fw fa-edit text-primary"></i> ${editMsg}</a><br/>` +
                            `<a href="${linkMerge}" style="white-space: nowrap"><i class="fas fa-sharp fa-solid fa-compress text-primary"></i> ${mergeMsg}</a>`;
                            return actions.replaceAll("0", data);
                        }
                    },
                ],
            });
        }

        function download_xlsx(data_error) {
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });
            $.ajax({
                url: '/catalog/download',
                type: 'GET',
                xhrFields: {
                    // make sure the response knows we're expecting a binary type in return.
                    // this is important, without it the excel file is marked corrupted.
                    responseType: 'arraybuffer'
                }
            }).done(function (data, status, xmlHeaderRequest) {
                const downloadLink = document.createElement('a');
                const blob = new Blob([data],
                    {
                        type: xmlHeaderRequest.getResponseHeader('Content-Type')
                    });
                const url = window.URL || window.webkitURL;
                const downloadUrl = url.createObjectURL(blob);
                const fileName = 'vouchers_error.xlsx';

                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    if (fileName) {
                        if (typeof downloadLink.download === 'undefined') {
                            window.location = downloadUrl;
                        } else {
                            downloadLink.href = downloadUrl;
                            downloadLink.download = "catalog.xlsx";
                            document.body.appendChild(downloadLink);
                            downloadLink.click();
                        }
                    } else {
                        window.location = downloadUrl;
                    }
                    setTimeout(function () {
                            url.revokeObjectURL(downloadUrl);
                            $("#overlay").fadeOut(300);
                        },
                        100);
                }
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{% translate "Catalogue" %}</h1>
    <div class="card mb-3">
        <div class="row">
            <div class="col-3">
                <a class="btn btn-primary" href="{% url 'create_taxa' %}">{% translate "New" %}</a>
            </div>
            <div class="col-3 offset-md-6">
                <a class="btn btn-primary" href="#" onclick="download_xlsx()">{% translate "Download" %}</a>
            </div>
        </div>
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% translate "Catalogue" %}
        </div>
        <div class="card-body">
            <div class="row" id="TemporalSearch">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6" style="text-align: right;">
                    <label>{% translate "Search" %}:
                        <input id="temp-search-bar" type="search" class="form-control form-control-sm" style="display: inline-block;box-sizing: border-box;width: auto;">
                    </label>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="CatalogTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{% translate "Division" %}</th>
                        <th>{% translate "Class" %}</th>
                        <th>{% translate "Order" %}</th>
                        <th>{% translate "Family" %}</th>
                        <th>{% translate "Complete Scientific Name" %}</th>
                        <th>{% translate "Created by" %}</th>
                        <th>{% translate "Created at" %}</th>
                        <th>{% translate "Updated at" %}</th>
                        <th>{% translate "Status" %}</th>
                        <th>{% translate "Determined?" %}</th>
                        <th>{% translate "Action" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- To be populated -->
                        <tr>
                            <td colspan="11" >
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info" onclick="loadTable()">
                                        <i class="fas fa-fw fa-sync"></i>
                                        {% translate "Load table" %}
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
