{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#CatalogTable').DataTable({
                serverSide: true,
                processing: true,
                language: languageTable.spanish,
                ajax: {
                    url: "{% url 'binnacle_table' %}",
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[6, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: 'type_update'
                    },
                    {
                        targets: 1,
                        data: 'model'
                    },
                    {
                        targets: 2,
                        data: 'description'
                    },
                    {
                        targets: 3,
                        data: 'note'
                    },
                    {
                        targets: 4,
                        data: 'created_by'
                    },
                    {
                        targets: 5,
                        data: 'created_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date);
                            } else if (type === 'sort'){
                                return date.toISOString();
                            } else {
                                return date;
                            }
                        }
                    },
                    {
                        targets: 6,
                        data: 'updated_at',
                        render: (data, type) => {
                            let date = new Date(data);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(date);
                            } else if (type === 'sort'){
                                return date.toISOString();
                            } else {
                                return date;
                            }
                        }
                    },
                    {
                        targets: 7,
                        data: 'id',
                        orderable: false,
                        render: (data) => {
                            const url = "{% url 'update_binnacle' binnacle_id=0 %}".replace("0", data);
                            return `
                            <a href="${url}">
                                <i class="fas fa-fw fa-edit text-primary"></i>
                            </a>
                            `;
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Bitácora de Cambios</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Bitácora
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="CatalogTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Tipo Actualización</th>
                        <th>Modelo</th>
                        <th>Descripción</th>
                        <th>Nota</th>
                        <th>Creado por</th>
                        <th>Fecha Creación</th>
                        <th>Fecha Actualización</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- To be populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
