{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript">
        const tempSearchBar = document.getElementById('temp-search-bar');

        tempSearchBar.addEventListener('input', function () {
            if (tempSearchBar.value.length > 3) {
                document.getElementById("TemporalSearch").setAttribute("style", "display: none;");
                loadTable();
                const searchBar = document.getElementById("CatalogTable_filter").children[0].children[0];
                searchBar.value = tempSearchBar.value;
                searchBar.focus();
            }
        })

        function loadTable(){
            document.getElementById("TemporalSearch").setAttribute("style", "display: none;");
            $('#CatalogTable').DataTable({
                serverSide: true,
                processing: true,
                language: languageTable.spanish,
                ajax: {
                    url: '{{ table_url }}',
                    type: 'GET',
                    dataSrc: 'data',
                },
                order: [[4, 'desc']],
                columnDefs: [
                    {
                        targets: 0,
                        data: '{{ rank_name }}',
                    },
                    {
                        targets: 1,
                        data: '{{ parent_rank }}'
                    },
                    {
                        targets: 2,
                        data: 'created_by'
                    },
                    {
                        targets: 3,
                        render: function(data, type, row) {
                            let created_at = new Date(row.created_at);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(created_at);
                            } else if (type === 'sort'){
                                return created_at.toISOString();
                            } else {
                                return created_at;
                            }
                        }
                    },
                    {
                        targets: 4,
                        render: function(data, type, row) {
                            let updated_at = new Date(row.updated_at);
                            if (type === 'display' || type === 'search'){
                                return dateFormat(updated_at);
                            } else if (type === 'sort'){
                                return updated_at.toISOString();
                            } else {
                                return updated_at;
                            }
                        }
                    },
                    {
                        targets: 5,
                        orderable: false,
                        render: function(data, type, row) {
                            let deletable = {{ deletable }};
                            let buttonActions = '<a href="{{ update_rank_url }}"><i class="fas fa-fw fa-edit text-primary"></i></a>'.replace(
                                "0", row.id
                            )
                            if (deletable === 1)
                                buttonActions += '<a href="{{ update_rank_url }}"><i class="fas fa-fw fa-trash text-danger"></i></a>'.replace(
                                    "update", "delete"
                                ).replace(
                                    "0", row.id
                                );
                            return buttonActions;
                        }
                    }
                ],
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{{ rank_title }}</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="row">
            <div class="col-3">
                <a class="btn btn-primary" href="{{ create_rank_url }}">Nuevo</a>
            </div>
        </div>
        <div class="card-header">
            <i class="fas fa-table"></i>
            {{ rank_title }}</div>
        <div class="card-body">
            <div class="row" id="TemporalSearch">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6" style="text-align: right;">
                    <label>Buscar:
                        <input id="temp-search-bar" type="search" class="form-control form-control-sm" style="display: inline-block;box-sizing: border-box;width: auto;">
                    </label>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="CatalogTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ rank_name_title }}</th>
                        <th>{{ parent_rank_title }}</th>
                        <th>Creado por</th>
                        <th>Fecha Creación</th>
                        <th>Fecha Actualización</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- To be populated -->
                        <tr>
                            <td colspan="6" >
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-info" onclick="loadTable()">
                                        <i class="fas fa-fw fa-sync"></i>
                                        Cargar tabla
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}