{% extends "base.html" %}
{% load static %}
{% block javascript %}
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#CatalogTable').DataTable();
  });
  </script>
{% endblock %}
{% block content %}
<h1>Nombres Comunes</h1>
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="row">
    <div class="col-3">
     <a class="btn btn-primary btn-block" href="{% url 'create_common_name' %}">Nuevo</a>
    </div>
  </div>
  <div class="card-header">
    <i class="fas fa-table"></i>
    Nombres Comunes</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="CatalogTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Creado Por</th>
            <th>Fecha Creación</th>
            <th>Fecha Actualización</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for item in common_names %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{% for specie in item.species_set.all %}{{ specie }}<br/>{% endfor %}</td>
              <td>{{ item.created_by }}</td>
              <td>{{ item.created_at }}</td>
              <td>{{ item.updated_at }}</td>
              <td width="10%">                
                <a href="{% url 'update_common_name' id=item.id %}"><i class="fas fa-fw fa-edit text-primary"></i></a>
                <a href="{% url 'delete_common_name' id=item.id %}"><i class="fas fa-fw fa-trash text-danger"></i></a>
              </td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}