{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block javascript %}
    <script type="text/javascript">
        $.fn.selectpicker.Constructor.DEFAULTS.noneSelectedText = "{% translate 'Nothing selected' %}"
        $.fn.selectpicker.Constructor.DEFAULTS.liveSearch = true;
        document.addEventListener("DOMContentLoaded", function() {
            const selectField = document.getElementById("select-taxon");
            const form = document.getElementById("taxon-form");

            selectField.addEventListener("change", function() {
                const originalUrl = "{% url 'merge_taxa' taxa_1=taxa_1.unique_taxon_id taxa_2=0 %}";
                const selectedValue = selectField.value;
                const updatedUrl = originalUrl.replace(/0(?!.*0)/, selectedValue);
                console.debug(`Merge with ${selectedValue}, redirecting to ${updatedUrl}`);
                form.action = updatedUrl;
                // Submit the form
                form.submit();
            });
        });
    </script>
{% endblock %}
{% block content %}
    {% translate "Taxon" as rank %}
    <h1>{% blocktranslate with title=rank %}Merge {{ title }}{% endblocktranslate %}</h1>
    <p>{% translate "Merge taxa info" %}</p>
    <div class="row">
        <div class="col-12" style="margin-bottom: 30px">
            {% if taxa_2 %}
                <form id="taxon-form" action="{% url 'merge_taxa' taxa_1=taxa_1.unique_taxon_id taxa_2=0 %}" method="get" class="form-horizontal">
                    {% translate "Select taxon to join" %} <b>{{ taxa_1.scientific_name}}</b>:<br>
                    <select id="select-taxon" class="selectpicker">
                        <option value="0"></option>c
                        {% for taxa in species %}
                            <option value="{{ taxa.unique_taxon_id }}">{{ taxa.scientific_name }}</option>
                        {% endfor %}
                    </select>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    {% translate "Taxon" %} 1
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td><strong>{% translate "Genus" %}</strong></td>
                                <td>
                                    {{ taxa_1.genus }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Specific Epithet" %}</strong></td>
                                <td>
                                    {{ taxa_1.specific_epithet }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Author" %}</strong></td>
                                <td>
                                    {{ taxa_1.scientific_name_authorship }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Subspecies" %}</strong></td>
                                <td>
                                    {{ taxa_1.subspecies|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Subspecies Author" %}</strong></td>
                                <td>
                                    {{ taxa_1.ssp_authorship|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Variety" %}</strong></td>
                                <td>
                                    {{ taxa_1.variety|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Variety Author" %}</strong></td>
                                <td>
                                    {{ taxa_1.variety_authorship|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Form" %}</strong></td>
                                <td>
                                    {{ taxa_1.form|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Form Author" %}</strong></td>
                                <td>
                                    {{ taxa_1.form_authorship|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Habit" %}</strong></td>
                                <td>
                                    {{ taxa_1.habit }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Life cycle" %}</strong></td>
                                <td>
                                    {{ taxa_1.cycle }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Origin" %}</strong></td>
                                <td>
                                    {{ taxa_1.status|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "In Argentina" %}</strong></td>
                                <td>
                                    {% if taxa_1.in_argentina %}
                                        <i class="fa-solid fa-square-check"></i>
                                    {% else %}
                                        <i class="fa-regular fa-square"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "In Bolivia" %}</strong></td>
                                <td>
                                    {% if taxa_1.in_bolivia %}
                                        <i class="fa-solid fa-square-check"></i>
                                    {% else %}
                                        <i class="fa-regular fa-square"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "In Peru" %}</strong></td>
                                <td>
                                    {% if taxa_1.in_peru %}
                                        <i class="fa-solid fa-square-check"></i>
                                    {% else %}
                                        <i class="fa-regular fa-square"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Maximum Height" %}</strong></td>
                                <td>
                                    {{ taxa_1.maximum_height|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Minimum Height" %}</strong></td>
                                <td>
                                    {{ taxa_1.minimum_height|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Notes" %}</strong></td>
                                <td>
                                    {{ taxa_1.notes|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Publication" %}</strong></td>
                                <td>
                                    {{ taxa_1.publication|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Volume" %}</strong></td>
                                <td>
                                    {{ taxa_1.volume|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Pages" %}</strong></td>
                                <td>
                                    {{ taxa_1.pages|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Type ID" %}</strong></td>
                                <td>
                                    {{ taxa_1.type_id|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Common Names" %}</strong></td>
                                <td>
                                    <ul>
                                        {% for common_name in taxa_1.common_names %}
                                            <li>{{ common_name.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Synonyms" %}</strong></td>
                                <td>
                                    <ul>
                                        {% for synonymy in taxa_1.synonyms %}
                                            <li>{{ synonymy.scientific_name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{% translate "Regional Distribution" %}</strong></td>
                                <td>
                                    <ul>
                                        {% for region in taxa_1.region %}
                                            <li>{{ region.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    {% translate "Taxon" %} 2
                </div>
                <div class="card-body">
                    {% if taxa_2 %}
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td><strong>{% translate "Genus" %}</strong></td>
                                    <td>
                                        {{ taxa_2.genus }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Specific Epithet" %}</strong></td>
                                    <td>
                                        {{ taxa_2.specific_epithet }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Author" %}</strong></td>
                                    <td>
                                        {{ taxa_2.scientific_name_authorship }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Subspecies" %}</strong></td>
                                    <td>
                                        {{ taxa_2.subspecies|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Subspecies Author" %}</strong></td>
                                    <td>
                                        {{ taxa_2.ssp_authorship|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Variety" %}</strong></td>
                                    <td>
                                        {{ taxa_2.variety|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Variety Author" %}</strong></td>
                                    <td>
                                        {{ taxa_2.variety_authorship|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Form" %}</strong></td>
                                    <td>
                                        {{ taxa_2.form|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Form Author" %}</strong></td>
                                    <td>
                                        {{ taxa_2.form_authorship|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Habit" %}</strong></td>
                                    <td>
                                        {{ taxa_2.habit }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Life cycle" %}</strong></td>
                                    <td>
                                        {{ taxa_2.cycle }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Origin" %}</strong></td>
                                    <td>
                                        {{ taxa_2.status|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "In Argentina" %}</strong></td>
                                    <td>
                                        {% if taxa_2.in_argentina %}
                                            <i class="fa-solid fa-square-check"></i>
                                        {% else %}
                                            <i class="fa-regular fa-square"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "In Bolivia" %}</strong></td>
                                    <td>
                                        {% if taxa_2.in_bolivia %}
                                            <i class="fa-solid fa-square-check"></i>
                                        {% else %}
                                            <i class="fa-regular fa-square"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "In Peru" %}</strong></td>
                                    <td>
                                        {% if taxa_2.in_peru %}
                                            <i class="fa-solid fa-square-check"></i>
                                        {% else %}
                                            <i class="fa-regular fa-square"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Maximum Height" %}</strong></td>
                                    <td>
                                        {{ taxa_2.maximum_height|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Minimum Height" %}</strong></td>
                                    <td>
                                        {{ taxa_2.minimum_height|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Notes" %}</strong></td>
                                    <td>
                                        {{ taxa_2.notes|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Publication" %}</strong></td>
                                    <td>
                                        {{ taxa_2.publication|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Volume" %}</strong></td>
                                    <td>
                                        {{ taxa_2.volume|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Pages" %}</strong></td>
                                    <td>
                                        {{ taxa_2.pages|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Type ID" %}</strong></td>
                                    <td>
                                        {{ taxa_2.type_id|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Common Names" %}</strong></td>
                                    <td>
                                        <ul>
                                            {% for common_name in taxa_2.common_names %}
                                                <li>{{ common_name.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Synonyms" %}</strong></td>
                                    <td>
                                        <ul>
                                            {% for synonymy in taxa_2.synonyms %}
                                                <li>{{ synonymy.scientific_name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{% translate "Regional Distribution" %}</strong></td>
                                    <td>
                                        <ul>
                                            {% for region in taxa_2.region %}
                                                <li>{{ region.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% else %}
                        <form id="taxon-form" action="{% url 'merge_taxa' taxa_1=taxa_1.unique_taxon_id taxa_2=0 %}" method="get" class="form-horizontal">
                            {% translate "Select taxon to join" %} <b>{{ taxa_1.scientific_name}}</b>:<br>
                            <select id="select-taxon" class="selectpicker">
                                <option value="0"></option>
                                {% for taxa in species %}
                                    <option value="{{ taxa.unique_taxon_id }}">{{ taxa.scientific_name }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if taxa_2 %}
        <div class="row">
            <div class="col-sm-12">
                {% blocktranslate with title=rank asvar title %}New {{ title }}{% endblocktranslate %}
                {% include 'catalog/taxa_form.html' with form=form form_title=title form_url=form_url delete_button=False %}
            </div>
        </div>
    {% endif %}
{% endblock %}
