{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script type="text/javascript">
        $.fn.selectpicker.Constructor.DEFAULTS.noneSelectedText = "Nada seleccionado";
        document.addEventListener("DOMContentLoaded", function() {
            const selectField = document.getElementById("select-taxon");
            const form = document.getElementById("taxon-form");

            selectField.addEventListener("change", function() {
                const originalUrl = "{% url 'merge_taxa' taxa_1=taxa_1.id taxa_2=0 %}";
                const selectedValue = selectField.value;
                const updatedUrl = originalUrl.replace(/0(?!.*0)/, selectedValue);
                console.debug(`Merge with ${selectedValue}, redirecting to ${updatedUrl}`);
                form.action = updatedUrl;
                // Submit the form
                form.submit();
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Unir Taxón</h1>
    <p>Este proceso permite unir dos taxones, creando un nuevo taxa y eliminando los dos taxones de origen. Los nombres comunes, sinónimos y distribución son unificados en el nuevo taxón. Además se establece automaticamente la altura máxima y mínima entre ambos taxones. Sin embargo, es posible editar todos los cambos de este nuevo taxa, ya que lo anterior solo es una propuesta.
        Todos los vouchers asociados de ambos taxones son unificados en este nuevo taxa.</p>
    <!-- DataTables Example -->
    <div class="row">
        <div class="col-12" style="margin-bottom: 30px">
            {% if taxa_2 %}
                <form id="taxon-form" action="{% url 'merge_taxa' taxa_1=taxa_1.id taxa_2=0 %}" method="get" class="form-horizontal">
                    Seleccione Taxón que el que se unirá <b>{{ taxa_1.scientific_name}}</b>:<br>
                    <select id="select-taxon" class="selectpicker">
                        <option value="0"></option>
                        {% for taxa in species %}
                            <option value="{{ taxa.id }}">{{ taxa.scientific_name }}</option>
                        {% endfor %}
                    </select>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Taxón 1
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td><strong>Género</strong></td>
                                <td>
                                    {{ taxa_1.genus }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Epiteto Específico</strong></td>
                                <td>
                                    {{ taxa_1.specific_epithet }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Autor(es)</strong></td>
                                <td>
                                    {{ taxa_1.scientific_name_authorship }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Subespecie</strong></td>
                                <td>
                                    {{ taxa_1.subspecies|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Autor(es) Subespecie</strong></td>
                                <td>
                                    {{ taxa_1.ssp_authorship|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Variedad</strong></td>
                                <td>
                                    {{ taxa_1.variety|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Autor(es) Variedad</strong></td>
                                <td>
                                    {{ taxa_1.variety_authorship|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Forma</strong></td>
                                <td>
                                    {{ taxa_1.form|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Autor(es) Forma</strong></td>
                                <td>
                                    {{ taxa_1.form_authorship|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Hábito</strong></td>
                                <td>
                                    {{ taxa_1.habit }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Ciclo de vida</strong></td>
                                <td>
                                    {{ taxa_1.cycle }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Estado</strong></td>
                                <td>
                                    {{ taxa_1.status|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>En Argentina</strong></td>
                                <td>
                                    <input type="checkbox" {% if taxa_1.in_argentina %} checked {% endif %} disabled>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>En Bolivia</strong></td>
                                <td>
                                    <input type="checkbox" {% if taxa_1.in_bolivia %} checked {% endif %} disabled>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>En Peru</strong></td>
                                <td>
                                    <input type="checkbox" {% if taxa_1.in_peru %} checked {% endif %} disabled>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Altura Máxima</strong></td>
                                <td>
                                    {{ taxa_1.maximum_height|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Altura Mínima</strong></td>
                                <td>
                                    {{ taxa_1.minimum_height|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Notas</strong></td>
                                <td>
                                    {{ taxa_1.notes|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Publicacion</strong></td>
                                <td>
                                    {{ taxa_1.publication|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Volumen</strong></td>
                                <td>
                                    {{ taxa_1.volume|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Páginas</strong></td>
                                <td>
                                    {{ taxa_1.pages|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>ID Tipo</strong></td>
                                <td>
                                    {{ taxa_1.type_id|default_if_none:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Nombres Comunes</strong></td>
                                <td>
                                    <ul>
                                        {% for common_name in taxa_1.common_names %}
                                            <li>{{ common_name.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Sinónimos</strong></td>
                                <td>
                                    <ul>
                                        {% for synonymy in taxa_1.synonyms %}
                                            <li>{{ synonymy.scientific_name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Distribución Regional</strong></td>
                                <td>
                                    <ul>
                                        {% for region in taxa_1.region %}
                                            <li>{{ region.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Taxón 2
                </div>
                <div class="card-body">
                    {% if taxa_2 %}
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td><strong>Género</strong></td>
                                    <td>
                                        {{ taxa_2.genus }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Epiteto Específico</strong></td>
                                    <td>
                                        {{ taxa_2.specific_epithet }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Autor(es)</strong></td>
                                    <td>
                                        {{ taxa_2.scientific_name_authorship }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Subespecie</strong></td>
                                    <td>
                                        {{ taxa_2.subspecies|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Autor(es) Subespecie</strong></td>
                                    <td>
                                        {{ taxa_2.ssp_authorship|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Variedad</strong></td>
                                    <td>
                                        {{ taxa_2.variety|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Autor(es) Variedad</strong></td>
                                    <td>
                                        {{ taxa_2.variety_authorship|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Forma</strong></td>
                                    <td>
                                        {{ taxa_2.form|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Autor(es) Forma</strong></td>
                                    <td>
                                        {{ taxa_2.form_authorship|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Hábito</strong></td>
                                    <td>
                                        {{ taxa_2.habit }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Ciclo de vida</strong></td>
                                    <td>
                                        {{ taxa_2.cycle }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Estado</strong></td>
                                    <td>
                                        {{ taxa_2.status|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>En Argentina</strong></td>
                                    <td>
                                        <input type="checkbox" {% if taxa_2.in_argentina %} checked {% endif %} disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>En Bolivia</strong></td>
                                    <td>
                                        <input type="checkbox" {% if taxa_2.in_bolivia %} checked {% endif %} disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>En Peru</strong></td>
                                    <td>
                                        <input type="checkbox" {% if taxa_2.in_peru %} checked {% endif %} disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Altura Máxima</strong></td>
                                    <td>
                                        {{ taxa_2.maximum_height|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Altura Mínima</strong></td>
                                    <td>
                                        {{ taxa_2.minimum_height|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Notas</strong></td>
                                    <td>
                                        {{ taxa_2.notes|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Publicacion</strong></td>
                                    <td>
                                        {{ taxa_2.publication|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Volumen</strong></td>
                                    <td>
                                        {{ taxa_2.volume|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Páginas</strong></td>
                                    <td>
                                        {{ taxa_2.pages|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>ID Tipo</strong></td>
                                    <td>
                                        {{ taxa_2.type_id|default_if_none:"" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Nombres Comunes</strong></td>
                                    <td>
                                        <ul>
                                            {% for common_name in taxa_2.common_names %}
                                                <li>{{ common_name.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Sinónimos</strong></td>
                                    <td>
                                        <ul>
                                            {% for synonymy in taxa_2.synonyms %}
                                                <li>{{ synonymy.scientific_name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Distribución Regional</strong></td>
                                    <td>
                                        <ul>
                                            {% for region in taxa_2.region %}
                                                <li>{{ region.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% else %}
                        <form id="taxon-form" action="{% url 'merge_taxa' taxa_1=taxa_1.id taxa_2=0 %}" method="get" class="form-horizontal">
                            Seleccione Taxón que el que se unirá <b>{{ taxa_1.scientific_name}}</b>:<br>
                            <select id="select-taxon" class="selectpicker">
                                <option value="0"></option>
                                {% for taxa in species %}
                                    <option value="{{ taxa.id }}">{{ taxa.scientific_name }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% include 'catalog/taxa_form.html' with form=form form_title='Nuevo Taxón' form_url=form_url delete_button=False %}
        </div>
    </div>
{% endblock %}