{% load widget_tweaks %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        {{ form_title }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form action="{{ form_url }}" method="post" class="form-horizontal">
                {% csrf_token %}
                {{ form.id_taxa }}
                {{ form.scientificName }}
                {{ form.scientific_name_full }}
                {% for field in form %}
                    {% if not field.is_hidden %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">
                                {{ field.label_tag }}
                            </label>
                            <div class="col-sm-10">
                                {% if field.errors %}
                                    {{ field|add_class:'is-invalid' }}
                                    <div class="invalid-feedback">
                                        {{ field.errors|join:", " }}
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Guardar">
                        <a href="{% url 'list_taxa' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                    {% if delete_button %}
                        <div class="col-sm-2"
                             data-bs-toggle="{% if warnings %}tooltip{% endif %}"
                             data-bs-placement="{% if warnings %}top{% endif %}"
                             title="{{ warning_text }}">
                            <a href="#"
                               data-bs-toggle="modal"
                               data-bs-target="#warningModalDelete"
                               style="cursor: pointer;"
                               class="btn btn-danger {% if warnings %}disabled{% endif %}"
                            >
                                <i class="fas fa-fw fa-trash"></i>
                                Eliminar
                            </a>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
