{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script type="text/javascript">
        function proposal(id){
            $(document).ajaxSend(function() {
                $("#overlay").fadeIn(300);
            });
            let data = new FormData($('form').get(0));
            $.ajax({
                data: data,
                url: '{% url 'proposal_genus' genus_id=id %}',
                type: 'POST',
                success : function(response) {
                    $('#table').empty();
                    let row = JSON.parse(response.data);
                    let table = '<table class="table">'
                    table += '<thead>' +
                        '<tr>' +
                        '<th>Selecciona</th>' +
                        '<th>Nombre</th>' +
                        '<th>Autor(es)</th>' +
                        '<th>Nombre completo</th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody>';
                    for (let index in row.id){
                        table += '<tr>' +
                            '<td>' +
                            '<input type="checkbox" id=specie_id_'+row.id[index]+' name=specie_id_'+row.id[index]+' checked>' +
                            '</td>' +
                            '<td>'+row.scientificName[index]+'</td>' +
                            '<td>'+row.scientificNameAuthorship[index]+'</td>' +
                            '<td>'+row.scientificNameFull[index]+'</td>' +
                            '</tr>';
                    }
                    table += "</tbody></table>";
                    $('#table').append(table);
                    $("#table").show("slow");
                    $("#boton-table").show("slow");
                    $("#genus_name").val(response.genus);
                    $("#family_id").val(response.family);
                    $("#author_name").val(response.author);},
                cache: false,
                processData: false,
                contentType: false,
            }).done(function() {
                setTimeout(function(){
                    $("#overlay").fadeOut(300);
                },500);
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>Géneros</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Actualizar Género</div>
        <div class="card-body">
            <div class="table-responsive">
                <form action="" method="post" onsubmit="proposal({{ id }}); return false;" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Familia</label>
                        <div class="col-sm-10">
                            {{ form.family }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Autor de la nueva combinación</label>
                        <div class="col-sm-10">
                            <input type="text" name="author" id="author" class="form-control" maxlength="200" required />
                            <p><strong>Nota:</strong> Recuerde verificar si ya existía la combinación</p>
                        </div>
                    </div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" value="Revisar">
                            <a href="{% url 'list_genus' %}" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
            <form action="{% url 'update_genus' genus_id=id %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <input type="hidden" id="genus_name" name="genus_name">
                <input type="hidden" id="family_id" name="family_id">
                <input type="hidden" id="author_name" name="author_name">
                <div class="table-responsive" role="table" style="display: none;" id="table"></div>
                <div class="form-group row" id="boton-table" style="display:none;">
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Guardar">
                        <a href="{% url 'list_genus' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}