{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    {% translate "Log" as rank %}
    <h1>{{ rank }}</h1>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% blocktranslate with title=rank %}Update {{ title }}{% endblocktranslate %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form action="{% url 'update_binnacle' binnacle_id=id %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% include 'form_base.html' with form=form %}
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" value="{% translate 'Save' %}">
                            <a href="{% url 'list_binnacle' %}" class="btn btn-danger">{% translate "Cancel" %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
