{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script type="text/javascript">
        $.fn.selectpicker.Constructor.DEFAULTS.noneSelectedText = "Nada seleccionado";
    </script>
{% endblock %}
{% block content %}
    <h1>Catálogo: Taxón</h1>
    {% include 'catalog/taxa_form.html' with form=form form_title='Actualizar Taxón' form_url=form_url delete_button=True %}
    <div class="modal fade" id="warningModalDelete" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">¡Cuidado!</h5>
                </div>
                <div class="modal-body">
                    ¿Estás seguro que deseas borrar la especie {{ species_name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="{% url 'delete_taxa' species_id=id %}" class="btn btn-danger">Borrar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
